
{% extends 'layout/base.html' %}

{% block content %} 

{% load static %}

{% include 'layout/navbar.html' %}

<style>
    .offering{
        height: 0px;
    }
   
</style>


<div class="pastor animate__animated animate__backInRight">
    <div class="heading">
        <h3>Here cant be vacant</h3>
    </div>
    <div class="text">
        <!--<p>We think it’s possible for Christians to be the most generous people there are. We’ve been blessed as a church to always reach beyond ourselves and serve our city and this world because we have generous people. We’ve seen God do extraordinary things in people’s finances when they put God first in their tithes. We dare you to be a generous, selfless contributor and watch God do the extraordinary.“One gives freely, yet grows all the richer; another withholds what he should give, and only suffers want. Whoever brings blessing will be enriched, and one who waters will himself be watered.” Proverbs 11:24-25</p>-->
    </div>
    <div class="button">
       
    </div>
</div>



<div class="container pastorsDetails">
    <h3 class="pastors">meet our pastors</h3>
    <div class="row">
        <div class="col">
            {% for pastor in ourTeamPastors %}
            <div class="row">
               
                <div class="col-md-6">

                    <div class="product-card">
                        <img src="{{ pastor.img.url}}" alt="product image">
                        <h3>{{ pastor.fullname}}</h3>
                        <p>{{pastor.title}}</p>
                        
                    
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                    <div class="text">
                     <p>{{pastor.description}}</p>
                     <p>{{pastor.description2}}</p>
                    </div>
                </div>
                </div>
               
            </div>
            {% endfor %}
        </div>
    </div>

        <div class="center">
            {% if ourTeamPastors.has_other_pages %}
            <ul class="pagination">
              {% if ourTeamPastors.has_previous %}
                <a href="?page={{ ourTeamPastors.previous_page_number }}">&laquo;</a>
              {% else %}
                <a class="disabled"><span>&laquo;</span></a>
              {% endif %}
        
              {% for i in ourTeamPastors.paginator.page_range %}
                {% if ourTeamPastors.number == i %}
                  <a class="active"><span>{{ i }} <span class="sr-only"></span></span></a>
                {% else %}
                  <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
              {% endfor %}
              {% if ourTeamPastors.has_next %}
                <a href="?page={{ ourTeamPastors.next_page_number }}">&raquo;</a>
              {% else %}
                <a class="disabled"><span>&raquo;</span></a>
              {% endif %}
            </ul>
          {% endif %}  
    </div>
</div>






{% include 'footer/footer.html' %}

{% endblock %}