
{% extends 'layout/base.html' %}

{% block content %} 

{% load static %}

{% include 'layout/navbar.html' %}


<style>
     .offering{
        height: 0px;
    }
</style>

<div class="ourBelief animate__animated animate__bounceInDown">
    <div class="heading">
        <h3>our story</h3>
    </div>
    <div class="text">
        <p>We think it’s possible for Christians to be the most generous people there are. We’ve been blessed as a church to always reach beyond ourselves and serve our city and this world because we have generous people. We’ve seen God do extraordinary things in people’s finances when they put God first in their tithes. We dare you to be a generous, selfless contributor and watch God do the extraordinary.“One gives freely, yet grows all the richer; another withholds what he should give, and only suffers want. Whoever brings blessing will be enriched, and one who waters will himself be watered.” Proverbs 11:24-25</p>
    </div>
    <div class="button">
       
    </div>
</div>



{% endblock %}