
{% extends 'layout/base.html' %}

{% block content %} 

{% load static %}

{% include 'layout/navbar.html' %}


<style>
     .offering{
        height: 0px;
    }
    
</style>

<div class="ourBelief animate__animated animate__bounceInDown">
    <div class="belief-heading">
        <h3>our beliefs</h3>
    </div>
    <div class="text">
        <p>We think it’s possible for Christians to be the most generous people there are. We’ve been blessed as a church to always reach beyond ourselves and serve our city and this world because we have generous people. We’ve seen God do extraordinary things in people’s finances when they put God first in their tithes. We dare you to be a generous, selfless contributor and watch God do the extraordinary.“One gives freely, yet grows all the richer; another withholds what he should give, and only suffers want. Whoever brings blessing will be enriched, and one who waters will himself be watered.” Proverbs 11:24-25</p>
    </div>
   
</div>

<section>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>the bible</h3>
            <div class="item-belief">
                <p>We believe that the Bible is the Word of God, divinely inspired; that it contains no errors in the original manuscripts and is preserved by God for us; it is authoritative for this church and each of us for every age.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>god</h3>
            <div class="item-belief">
                <p>We believe in one living and true God, eternal and of infinite power, wisdom, goodness and righteousness. He is a loving and faithful God who is the Creator and preserver of all things.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>jesus christ</h3>
            <div class="item-belief">
                <p>We believe in the divine nature of Jesus Christ, God’s only son, who was conceived by the power of the Holy Spirit and born of a virgin named Mary. Christ is both fully man and fully God. His purpose is to restore our relationship to God, which was broken by sin (disobedience). Christ rose from the dead and ascended into heaven in full victory over Satan and sin.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>the holy spirit</h3>
            <div class="item-belief">
                <p> only son, who was conceived by the power of the Holy Spirit and born of a virgin named Mary. Christ is both fully man and fully God. His purpose is to restore our relationship to God, which was broken by sin (disobedience). Christ rose from the dead and ascended into heaven in full victory over Satan and sin.

                    The Holy Spirit
                    We believe in the Holy Spirit as the person and expression of God who lives within us, giving us the power to live a holy life and guiding us to truth. His presence is what makes Skybreak Church unique. His absence is what makes church and religion boring and lifeless. When Jesus said I must leave, but I won’t leave you alone, it is the Holy Spirit that He sent to us.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>salvation</h3>
            <div class="item-belief">
                <p>Because people are unable to save themselves from their sinful condition, salvation is altogether the work of God. Neither good works nor self-improvement can make up for our sin. Salvation is the free gift of God. However, like any gift it must be received. This gift is received by faith, which is believing and trusting in Jesus Christ who died as our substitute that we might live.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>baptism</h3>
            <div class="item-belief">
                <p>Acts 22:15-16 says, “You will be his witness to all of men of what you have seen and heard. And now what are you waiting for? Get up, be baptized and wash your sins away, calling on His Name.” Your baptism will represent an outward acknowledgment and public celebration of your inward decision to accept Christ as your Savior.

                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>gifts of the holy spirit</h3>
            <div class="item-belief">
                <p>We understand the Bible to be very specific and clear as it pertains to the Gifts of the Spirit and their manifestations in the present day church. We believe they are both available and operable not only in our church gatherings, but that they should be evident in our everyday lives. We believe that the Holy Spirit has given spiritual gifts to all believers for the purpose of building up the body of Christ and bringing glory to God. The gifts are to be exercised in love and emphasize the need for unity.</p>
            </div>
        </div>
        <div class="col-md-6">
            <h3>healings</h3>
            <div class="item-belief">
                <p>We believe in the divine nature of Jesus Christ, God’s only son, who was conceived by the power of the Holy Spirit and born of a virgin named Mary. Christ is both fully man and fully God. His purpose is to restore our relationship to God, which was broken by sin (disobedience). Christ rose from the dead and ascended into heaven in full victory over Satan and sin.</p>
            </div>
        </div>
    </div>
</div>
</section>



{% include 'footer/footer.html' %}
{% endblock %}