
{% extends 'layout/base.html' %}

{% block content %} 

{% load crispy_forms_tags %}
{% load static %}
{% include 'layout/navbar.html' %}
<style>
    .offering{
        height: 0;
        width: 100%;
        margin-bottom: 100px;
    }
    .event{
        margin-top: 50px;
    }
</style>



	<div class="gallery">
        {% for p in gallery %}
		<div class="item">
          <a href="">
            <img src="{{p.img.url }}">
          </a>
        </div>
        {% for i in p.images_church.all %}
        <div class="item">
           <a href="">
            <img src="{{i.img.url }}">
           </a>
        </div>
        {% endfor %}
        {% endfor %}
		
	</div>

    

{% include 'footer/footer.html' %}

{% endblock %}

