
{% extends 'layout/base.html' %}

{% block content %} 

{% load static %}

{% include 'layout/navbar.html' %}


<style>
     .offering{
        height: 0px;
    }
    .groups{
    background-image: url('/static/images/church_pics/group3.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
    object-fit: cover;
}
.cell h3{
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 150px;
    margin-left: 10px;
}
.item-belief a{
    margin-top: 50px;
    margin-left: 50px !important;
}
.col-md-6{
    margin-top: 30px;
    margin-bottom: 30px;
}
</style>

<div class="groups animate__animated animate__bounceInDown">
    <div class="cell">
        <h3>Cell Memberships</h3>
    </div>
   
   
</div>

<section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Embrace the love of a family.</h3>
            <div class="item-belief">
                <p>Our Connect Groups have a simple yet profound purpose: to foster genuine connections 
                    among people. We believe that we are designed to live in community with others, 
                    as it is only through these relationships that we can truly experience the 
                    fullness of life. While sharing our lives with others is part of our innate 
                    design, finding meaningful relationships can often be challenging. Connect Groups 
                    exist to bridge this gap, making transformative relationships relevant and 
                    accessible to everyone.</p>
          
            </div>
        </div>
        <div class="col-md-6">
            <h3>Join a group</h3>
            <div class="item-belief">
               <p>We need the right relationships. At Jesus Christ global ministries, we believe that the quality of our 
                lives is deeply influenced by the quality of our relationships. Life truly moves
                 at the speed of your connections with others!</p>
            </div>
        </div>
        <div class="col-md-6">
            
            <div class="item-belief">
                <a href="" class="btn btn-danger">join a group</a>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Host a group</h3>
            <div class="item-belief">
                <p>The right relationships are essential. At Jesus Christ global ministries, we believe that the 
                    pace and quality of your life are directly influenced by the relationships you 
                    cultivate. Life truly moves at the speed of your connections!</p>
            </div>
        </div>
     
    </div>
</div>
</section>



{% include 'footer/footer.html' %}
{% endblock %}