
{% extends 'layout/base.html' %}

{% block content %} 

{% load crispy_forms_tags %}
{% load static %}

    


    <div class="e-church">
        <video autoplay loop muted plays-inline class="backgroundVideo">
            <!--<source src="/static/video/atmosphere.mp4">-->
            <source src="/static/video/jcgmBg1.MP4">
        </video>
        {% include 'layout/navigation.html' %}
      
    <div class="connections" >
        <ul>
           
            <!--<li><a href="https://www.youtube.com/@jcgmprayer5157" >watch</a></li>-->
            <li><a href="https://www.youtube.com/@Jcgmoutreach1">watch</a></li>
            <li> <a href="{% url 'connection:connect' %}" >Mentorship</a></li>
            <li>  <a href="{% url 'programm:cells' %}">Cell System</a></li>
            <li> <a href="{% url 'programm:transact' %}" >giving</a></li>
        </ul>
    </div>
    </div>



   <div class="churchMessage">
    <div class="information">
        <div class="container animate__animated animate__backInRight animation-delay-0s">
         <h3>Love and compassion,Forgiveness and reconciliation</h3>
         <div class="text">
           <p>
            Jesus emphasized the significance of love, not only for God but also for each other. He instructed us to love one another, display acts of kindness and mercy, and to take care of the less fortunate. Additionally, He taught us the importance of forgiveness, encouraging us to pardon others and pursue reconciliation. He exemplified this through His own deeds, by forgiving those who persecuted Him.
            Mark 12:30-31,Matt 25:35-36,Matt 6:14-15
           </p>
            <!--<h2>Forgiveness and reconciliation</h2>
            <p>Jesus taught the value of forgiveness, urging his followers to forgive others and seek reconciliation. He demonstrated this through his own actions, forgiving those who persecuted him and even praying for his enemies.</p>-->
            <h2>Salvation and eternal life,Humility and servanthood</h2>
            <p>Jesus proclaimed the good news of salvation, teaching that through faith in Him,
                man can be reconciled with God and have eternal life. He emphasized the need for repentance, turning away from sin, and placing trust in him as the path to salvation.
                Speaking about humility,Jesus emphasized the importance of humility and servant leadership.
                He demonstrated this by humbly washing the feet of His disciples and instructing them to serve others with humility and selflessness.
                John 3:16,Acts 3:19,Matt 20:26-28
            </p>
            
            <!--<h2>Humility and servanthood</h2>
            <p>Jesus taught the importance of humility and servant leadership. He exemplified this by washing the feet of his disciples and instructing them to serve others with humility and selflessness.</p>-->
            <h2>Kingdom of God</h2>
            <p>Jesus spoke extensively about the Kingdom of God,
                a realm where God's sovereignty prevails and a new order is established, characterized by righteousness, peace, and justice. 
                He instructed His disciples to prioritize the pursuit of the Kingdom of God and to align their lives with its principles.
                Matt 6:33.
            </p>
           
             <!--<div class="readmore">
                 <a href="">read more </a>
             </div>-->
         </div>
        </div>
     </div>
   </div>

 <div class="churchInfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 animate__animated animate__rotateIn animation-delay-2s">
                <label for="">TIMES & LOCATION</label>
                <div class="location">
                    <div class="address">
                        
                        <h3>607 W Martin Luther King Jr St</h3>
                        <h3>Bryan, TX 77803</h3>
                        
                    </div>
                    <div class="direction">
                        <a href="">Get Direction</a>
                    </div>
                    <div class="service">
                        <h4>Service Times</h4>
                        <p>Sunday: 10:00AM</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 animate__animated animate__fadeInLeft animation-delay-0s">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=4242%20Koppe%20Bridge%20Rd%20Suite%20100,%20College&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                        </iframe>
                      
                        <br>
 
                        <a href="https://www.embedgooglemap.net"></a>
                       
                    </div></div>
            </div>
        </div>
    </div>
 </div>  



<div class="slide">
    <div class="motivation">
<div class="owl-carousel owl-theme">
    {% for item in obj %}
    <div class="item animate__animated animate__backInRight animation-delay-2s">
        
        <div class="col-md-6 ">
            <h6>Our Cell System</h6>
            <h2>{{ item.title }}</h2>
            <p>{{ item.mesg }}</p>
            <!--<div class="link">
                <a href="">read more</a>
            </div>-->
        </div>
    </div>
    {% endfor %}
</div>
    </div>
</div>

{% include 'footer/footer.html' %}





<script>
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      responsiveClass:true,


           //loop:true, 
            // margin:10, 
            // responsiveClass:true, 
             responsive:{
                 0:{
                     items:1, 
                    }, 
                 600:{ 
                    items:2
                 }, 
                 1000:{
                     items:2, } }
      /*responsive:{
        599:{
              items:2,
              nav:true,
              //nav:false, 
              loop:true,
              loop:true, 
          dots:true, 
          autoplay:true, 
          pagination:false, 
          navigation:false, 
          responsiveClass:true,
          },
          680:{
              items:2,
              nav:true
          },
          770:{
              items:2,
              nav:false
          },
          1000:{
              items:2,
              nav:true,
              loop:false
          }
      }*/
  })

  
  </script>
<style>
    @media screen and (max-width: 599px) {
        .slide .motivation {
    margin-left: 2px;
     }
       /* .owl-stage{
            width: 100% !important;
            display: flex;
        }
        .owl-theme{
            width: 100%;
        }
        .owl-theme .item{
            width: 100%;
        }
        .no-js .owl-carousel, .owl-carousel.owl-loaded {
           
}
.owl-carousel.owl-loaded {
 
}*/
       
    }

    

    </style>




{% endblock %}