
{% extends 'layout/base.html' %}

{% block content %} 

{% load crispy_forms_tags %}
{% load static %}

    


    <div class="e-church">
        <video autoplay loop muted plays-inline class="backgroundVideo">
            <!--<source src="/static/video/atmosphere.mp4">-->
            <source src="/static/video/atmosphere2.mp4">
        </video>
        {% include 'layout/navigation.html' %}
      
    <div class="connections" >
        <ul>
           
            <li><a href="https://www.youtube.com/@jcgmprayer5157" >watch</a></li>
            <li> <a href="{% url 'connection:connect' %}" >growth track</a></li>
            <li>  <a href="{% url 'programm:cells' %}">small groups</a></li>
            <li> <a href="{% url 'programm:transact' %}" >giving</a></li>
        </ul>
    </div>
    </div>



   <div class="churchMessage">
    <div class="information">
        <div class="container animate__animated animate__backInRight animation-delay-0s">
         <h3>Our dna</h3>
         <div class="text">
             <h2>Jesus is our message. People are our heart. His church is what we build.</h2>
             <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse alias, rerum deserunt impedit in perspiciatis, minus a laborum omnis labore, consectetur natus rem quia fugiat libero tempore quibusdam excepturi quasi.</p>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus perferendis magni repudiandae saepe obcaecati animi sit repellat, odit, assumenda illum nihil nulla ad, omnis expedita dolorem laboriosam illo odio error.</p>
 
             <div class="readmore">
                 <a href="">read more </a>
             </div>
         </div>
        </div>
     </div>
   </div>
   
 <div class="churchInfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 animate__animated animate__rotateIn animation-delay-2s">
                <label for="">TIMES & LOCATION</label>
                <div class="location">
                    <div class="address">
                        <h3>4242 Koppe Bridge Road, Suite 100,</h3>
                        <h3>College Station, TX 77845</h3>
                        
                    </div>
                    <div class="direction">
                        <a href="">Get Direction</a>
                    </div>
                    <div class="service">
                        <h4>Service Times</h4>
                        <p>Sunday: 10:00AM</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 animate__animated animate__fadeInLeft animation-delay-0s">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=4242%20Koppe%20Bridge%20Rd%20Suite%20100,%20College&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                        </iframe>
                      
                        <br>
 
                        <a href="https://www.embedgooglemap.net"></a>
                       
                    </div></div>
            </div>
        </div>
    </div>
 </div>  



<div class="slide">
    <div class="motivation">
<div class="owl-carousel owl-theme">
    {% for item in obj %}
    <div class="item animate__animated animate__backInRight animation-delay-2s">
        
        <div class="col-md-6 ">
            <h6>SMALL GROUPS</h6>
            <h2>{{ item.title }}</h2>
            <p>{{ item.mesg }}</p>
            <div class="link">
                <a href="">read more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
</div>

{% include 'footer/footer.html' %}





<script>
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      responsiveClass:true,


           //loop:true, 
            // margin:10, 
            // responsiveClass:true, 
             responsive:{
                 0:{
                     items:1, 
                    }, 
                 600:{ 
                    items:2
                 }, 
                 1000:{
                     items:2, } }
      /*responsive:{
        599:{
              items:2,
              nav:true,
              //nav:false, 
              loop:true,
              loop:true, 
          dots:true, 
          autoplay:true, 
          pagination:false, 
          navigation:false, 
          responsiveClass:true,
          },
          680:{
              items:2,
              nav:true
          },
          770:{
              items:2,
              nav:false
          },
          1000:{
              items:2,
              nav:true,
              loop:false
          }
      }*/
  })

  
  </script>
<style>
    @media screen and (max-width: 599px) {
        .slide .motivation {
    margin-left: 2px;
     }
       /* .owl-stage{
            width: 100% !important;
            display: flex;
        }
        .owl-theme{
            width: 100%;
        }
        .owl-theme .item{
            width: 100%;
        }
        .no-js .owl-carousel, .owl-carousel.owl-loaded {
           
}
.owl-carousel.owl-loaded {
 
}*/
       
    }

    

    </style>




{% endblock %}