
{% extends 'layout/base.html' %}

{% block content %} 

{% load static %}

{% include 'layout/navbar.html' %}


<style>
     .offering{
        height: 0px;
    }
   .p-text{
    text-transform: uppercase;
   } 
</style>

<div class="ourMission animate__animated animate__bounceInDown">
    <div class="heading">
        <h3>Our Message</h3>
    </div>
    <div class="text">
        <p>OUR MESSAGE  IS  ALL ABOUT JESUS CHRIST,  HIS  KINGDOM COMMISSION , HIS PASSION (the souls he died for ) AND HIS
            GLORY</p>
    </div>
    <div class="button">
       
    </div>
</div>



<div class="container">
    <div class="our_mission">
        <ul>
            <li>
                <h3>Our Mission</h3>
                <div class="text-details">
                 <p>FOLLOWING THE LORD JESUS CHRIST, MAKING US FISHERS OF MEN</p>
                 <P>As fishers of men,we passionately engage with soul winning which is Christ's number one job,globalizing the gosple,starting from our community and to the world. We are ambassadors of Christ, sharing His love, grace, and truth with others. We lead people to lord Jesus Christ, to help them encounter His life-transforming power, and to guide them in becoming fishers of men as we are.</P>
                </div>
                <a class="btn" href="{% url 'programm:stories' %}">our story</a>
            </li>
            <li>
                <h3>Our Purpose</h3>
                <div class="text-details">
              <p>TO PRODUCE FRIUT OF RIGHTEOUSNESS THAT WILL REMAIN IN THE KINGDOM, A BURNING AND A SHINNING LIGHT. 
            </p>

                    <P>We bring the God-life to humanity to save them from the second death. </P>
                        <P>Bringing the God-life to humanity means sharing the goodnews of salvation with them and inviting them to participate in the divine experience furthering a personal relationship with God. We have come the awareness that Jesus is the way, the truth, and the life (John 14:6), and through Him, individuals can find forgiveness, reconciliation with God, and the zoe life.</P>
                        
                        </div>
                        <a class="btn" href="{% url 'programm:giving' %}">get connected</a>
            </li>
            <li>
                <h3>Our Vision</h3>
                <div class="text-details">
                    <p>RAISING A NEW GENERATION OF SUPERNATURAL GIANTS THAT WILL SPARE NOTHING TO SPREAD THE GOSPEL OF OUR LOVE JESUS CHRIST INTO EVERY CITY AND NATIONS OF THE EARTH.</p>
                   
                     <p>Raising an army of supernatural giants means equipping and empowering believers to operate in the supernatural realm through the Holy Spirit. We believe we living in the last dispensation and the end of this old world of darkness is fast approaching.</p>
                     <p>The lord’s desires is to work through us and with us mightily bring about the supernatural like the world hasn’t seen, miraculous signs, wonders, and demonstrations of His power. </p>
                     <p>We seek to see every believer walking in their identity as sons  of God, equipped with spiritual gifts, and manifesting the supernatural in their lives growing out of babyhood. </p>
                     <p> We reflect our kingdom culture, character and nature of the Holy Spirit. We desire to see sons of God filled with love, joy, peace, patience, kindness, goodness, faithfulness, gentleness, and self-control (Galatians 5:22-23).</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">connect to us</a>
            </li>
            <li>
                <h3>Our Commitment</h3>
                <div class="text-details">
                    <P>THE LORD’s PASSION,The lord’s COMPASSION, The lord’s COMMISSION  AND HIS GLORY. </P>
                </div>
            </li>

            <li>
                <h3>Our Objectives</h3>
                <div class="text-details">
                
                    <p>REVEALING JESUS  CHRIST IN EVERY TERRITORIES DEMONSTRATING THE CHARACTER OF THE  SPIRIT OF GOD.</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">connect to us</a>
            </li>
            <li>
                <h3>Our MESSAGE</h3>
                <div class="text-details">
                    
                    <p><Opt></Opt>Our message is all about Jesus Christ — His person, His kingdom commission, His passion for souls, and His glory. We proclaim Him as Lord and Savior, inviting others to encounter Him and experience the transformation that comes through faith in Him. We are committed to fulfilling His commission, sharing His love and grace with all people, and exalting Him as the one who deserves all honor and glory.</p>

                    <p>At JCGM,we create a connected and supportive church community where individuals can experience the love of God, discover their purpose for living, and grow in their faith. Through our relationships, service, and commitment to the teachings of Jesus Christ, we strive to make a difference in the lives of people and bring hope to the world.</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">connect to us</a>
            </li>
        
        </ul>
    </div>
</div>
{% include 'footer/footer.html' %}
{% endblock %}