
{% extends 'layout/base.html' %}

{% block content %} 

{% load static %}

{% include 'layout/navbar.html' %}


<style>
     .offering{
        height: 0px;
    }
</style>

<div class="ourMission animate__animated animate__bounceInDown">
    <div class="heading">
        <h3>our story</h3>
    </div>
    <div class="text">
        <p>We think it’s possible for Christians to be the most generous people there are. We’ve been blessed as a church to always reach beyond ourselves and serve our city and this world because we have generous people. We’ve seen God do extraordinary things in people’s finances when they put God first in their tithes. We dare you to be a generous, selfless contributor and watch God do the extraordinary.“One gives freely, yet grows all the richer; another withholds what he should give, and only suffers want. Whoever brings blessing will be enriched, and one who waters will himself be watered.” Proverbs 11:24-25</p>
    </div>
    <div class="button">
       
    </div>
</div>

<!--<div class="container">
    <div class="our_mission">
        <ul>
            <li>
                <h3>Know God</h3>
                <div class="text-details">
               <p>The ultimate result of this death is an eternity in Hell. (Matthew 25:41; Revelation 20:10). This spiritual death forces a separation from God. Man is sinful and God is holy. This creates a gulf unbridgeable by man making that intended fellowship impossible.

                God's eternal plan was to send His Son Jesus Christ to die on the cross and take on our punishment (Romans 5:8; Galatians 4:4; 1 John 4:10). He knew no sin and yet became sin for us (2 Corinthians 5:21). He died in our place. This removed our burden of sin and allowed us to enter into that desired fellowship through faith in Jesus Christ, and Him alone (John 14:6; Acts 4:12).
                
                It is not just enough that you know these truths. We must individually place our trust in Jesus Christ as our Lord and Savior. This means repenting of our sins and believing in Jesus Christ as God's Son who came to earth as a human to die for our sins so that we might have everlasting life with Him. Placing our trust in Jesus requires faith, which is a hope-filled belief in Jesus even though we don't see Him face to face (John 20:29; Hebrews 11:1). And salvation is by faith alone, not by any works we could do to please</p>
                </div>
                <a class="btn" href="{% url 'programm:stories' %}">our story</a>
            </li>
            <li>
                <h3>Find Freedom.</h3>
                <div class="text-details">
                     <p>In the “land of the free,” we often confuse the true nature of freedom. For many of us, freedom has become synonymous with personal independence — the ability to make our own decisions and choose our own path in life, to do whatever we want, whenever we want. It’s what I call “outside freedom.” But this is not the freedom in Christ that we have been given.

                        When Jesus revealed himself as the Messiah, He said that He had come to Earth to “proclaim freedom” (Luke 4:18). And on another occasion, He said, “If the Son sets you free, you will be free indeed” (John 8:36).
                        
                        Jesus was not setting us free to do whatever we wanted; He was freeing us to do what we ought to do. He was liberating us to walk in relationship with God and to be the kind of people He created us to be. This spiritual freedom in Christ is what I call “inside freedom” —  the ability to obey God and choose His will for our lives.
                    </p>
                        
                        </div>
                        <a class="btn" href="{% url 'programm:giving' %}">get connected</a>
            </li>
            <li>
                <h3>Discover Purpose.</h3>
                <div class="text-details">
                    <p>Finding purpose in life is one of those things that most people want. Whether we know it or not. As nice as it sounds, it can seem challenging to attain.

                        If you haven't spent a lot of time thinking about your own purpose, you might have some preconceived ideas about the purpose of life. These baked-in ideas about life often come from our family and the communities we grow up in. The purpose of our life is to get married and have kids. Or, maybe it's earning a certain amount of money or achieving a certain position in society. 
                        
                        But these types of achievements often don’t bring the kind of fulfillment that comes with finding your personal sense of purpose. A personal sense of purpose is less of a specific end goal and more of an ongoing impact on the world, large or small. Purpose is your why</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">growth track</a>
            </li>
            <li>
                <h3>Make a difference</h3>
                <div class="text-details">
                    <p>1. Smile! Being friendly to others is a great way to brighten someone else’s day. Whether it’s at the store, work, or simply walking along the street, a nice gesture like a smile could go a long way for someone having a bad day.

                        2. Do Some Volunteer Work. Volunteering is an amazing experience that gets us out of our daily routines, and makes us turn our efforts outwards. Go out and help feed the homeless, volunteer at local events, even picking up trash in your city is a great way to give back to the community!
                        
                        3. Sponsor a Child. There are tons of organizations looking for people to sponsor children in need in countries around the world. These organizations are literally only a click away, and don’t take much time to sign up for. It is a small price to pay to make an incredible difference in a child’s life.
                        
                        4. Invest and Listen. Society has become so drenched in the buzz of technology that real face-to-face interaction and relationship is growing scarce. Next time you throw out the standard, “Hi, how you doin?” make an effort to really invest in what is going in that person’s life. Ask questions that show you really care and want to listen</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">make a difference </a>
            </li>
        </ul>
    </div>
</div>-->



<div class="container">
    <div class="our_mission">
        <ul>
            <li>
                <h3>Know God</h3>
                <div class="text-details">
                 <p>
                    Walking HAND IN HAND with our LORD JESUS CHRIST  AS FISHERS OF MEN FOR HIM
                 </p>
                </div>
                <a class="btn" href="{% url 'programm:stories' %}">our story</a>
            </li>
            <li>
                <h3>Our Purpose</h3>
                <div class="text-details">
                    <p>Bringing the God-Life to humanity; Saving them from the second death</p>
                        
                        </div>
                        <a class="btn" href="{% url 'programm:giving' %}">get connected</a>
            </li>
            <li>
                <h3>Our Vision</h3>
                <div class="text-details">
                  <p>RAISING AN ARMY OF SUPERNATURAL GIANTS  WITH NO CARE  FOR THIS  PRESENT WORLD, DEMONSTRATING THE CHARACTER OF THE SPIRIT IN THIS  END-TIME  MOVE OF GOD</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">growth track</a>
            </li>
            <li>
                <h3>OUR MESSAG</h3>
                <div class="text-details">
                    <p>OUR MESSAGE  IS  ALL ABOUT JESUS,  HIS  KINGDOM COMMISSION , HIS PASSION (the souls he died for ) AND HIS
                        GLORY</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">growth track</a>
            </li>
            <!--<li>
                <h3>Discover Purpose.</h3>
                <div class="text-details">
                    <p>Finding purpose in life is one of those things that most people want. Whether we know it or not. As nice as it sounds, it can seem challenging to attain.

                        If you haven't spent a lot of time thinking about your own purpose, you might have some preconceived ideas about the purpose of life. These baked-in ideas about life often come from our family and the communities we grow up in. The purpose of our life is to get married and have kids. Or, maybe it's earning a certain amount of money or achieving a certain position in society. 
                        
                        But these types of achievements often don’t bring the kind of fulfillment that comes with finding your personal sense of purpose. A personal sense of purpose is less of a specific end goal and more of an ongoing impact on the world, large or small. Purpose is your why</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">growth track</a>
            </li>
            <li>
                <h3>Make a difference</h3>
                <div class="text-details">
                    <p>1. Smile! Being friendly to others is a great way to brighten someone else’s day. Whether it’s at the store, work, or simply walking along the street, a nice gesture like a smile could go a long way for someone having a bad day.

                        2. Do Some Volunteer Work. Volunteering is an amazing experience that gets us out of our daily routines, and makes us turn our efforts outwards. Go out and help feed the homeless, volunteer at local events, even picking up trash in your city is a great way to give back to the community!
                        
                        3. Sponsor a Child. There are tons of organizations looking for people to sponsor children in need in countries around the world. These organizations are literally only a click away, and don’t take much time to sign up for. It is a small price to pay to make an incredible difference in a child’s life.
                        
                        4. Invest and Listen. Society has become so drenched in the buzz of technology that real face-to-face interaction and relationship is growing scarce. Next time you throw out the standard, “Hi, how you doin?” make an effort to really invest in what is going in that person’s life. Ask questions that show you really care and want to listen</p>
                </div>
                <a class="btn" href="{% url 'programm:pastors' %}">make a difference </a>
            </li>-->
        </ul>
    </div>
</div>
{% include 'footer/footer.html' %}
{% endblock %}