
{% extends 'layout/base.html' %}

{% block content %} 

{% load crispy_forms_tags %}
{% load static %}

<style>
      .offering{
        height: 200px;
    }
    .offeringDetails h3{
        margin-top: 150px;
        color: #222;
        font-size: 28px;
    }
    ul li h5 i{
     
        transition-timing-function: 5s ease-in-out;
    }
  .moreInfo{
    transition: all 4s ease-in-out ;
   
    /*transition-timing-function: all 5s ease-in-out;
   background: #2db34a;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;*/
  transition: background .5s linear, border-radius 1s ease-in 1s;
  }
</style>

{% include 'layout/navbar.html' %}

<div class="offeringDetails">
    <div class="heading">
        <!--<h3>Selfless people fill our seats every week</h3>-->
        <h3>Please click on the red button below to make donations</h3>
    </div>
    <div class="text">
        <p>Giving is a means of honoring God and acknowledging His ownership of everything.
            Giving with a cheerful heart and obedience to God's commands leads to spiritual growth and the outpouring of His blessings upon our lives.
        </p>
        <p>Proverbs 11:25  says, "A generous person will prosper; whoever refreshes others will be refreshed." When we give selflessly, we experience a sense of contentment and satisfaction. The act of refreshing others through our giving brings joy and fulfillment to our hearts.</p>
        <p>One of the benefits of giving is experiencing God's faithfulness and provision. In Luke 6:38 (NIV), Jesus says, "Give, and it will be given to you. A good measure, pressed down, shaken together and running over, will be poured into your lap. For with the measure you use, it will be measured to you." God promises to bless and provide for those who give with a generous heart.</p>
        <!--<p>We think it’s possible for Christians to be the most generous people there are. We’ve been blessed as a church to always reach beyond ourselves and serve our city and this world because we have generous people. We’ve seen God do extraordinary things in people’s finances when they put God first in their tithes. We dare you to be a generous, selfless contributor and watch God do the extraordinary.“One gives freely, yet grows all the richer; another withholds what he should give, and only suffers want. Whoever brings blessing will be enriched, and one who waters will himself be watered.” Proverbs 11:24-25</p>-->
    </div>
    <div class="button">
        <a href="{% url 'programm:transact' %}" class="btn btn-danger">make donations</a>
    </div>
</div>


<div class="qst" >
    <div class="question">
        <div class="fq">
            <h1>Frequently Asked Questions</h1>
        </div>
       <div class="sectional_question">
       <ul>
        <li>
            <h5>Is tithing biblical? What if i don't believe in it? <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
            <div class="moreInfo">
                <p>t is important to approach matters of giving with a heart of grace and understanding. While tithing (giving a tenth of one's income) is a biblical principle, the New Testament encourages believers to give cheerfully and according to their means.</p>
                <p>In 2 Corinthians 9:7 (NIV), it says, "Each of you should give what you have decided in your heart to give, not reluctantly or under compulsion, for God loves a cheerful giver." This verse emphasizes the importance of giving from a willing and joyful heart, rather than out of obligation or guilt.</p>
                <p>If you are genuinely struggling with the idea of giving a full 10% or find it challenging to do so, it is important to seek God's guidance and examine your motives. God looks at the heart and desires our obedience and willingness to steward our resources for His kingdom.</p>
                <p>Prayerfully consider your financial situation, seek wisdom, and give according to what you are able and what you believe God is leading you to give. Remember that generosity is not solely defined by a specific percentage, but by the attitude and posture of our hearts in giving.</p>
                <p>‍ If you earnestly seek God's guidance, He will help you navigate this matter and reveal His will for your giving. The most important aspect is to have a surrendered heart and a willingness to honor God with your resources in a way that reflects His love and generosity.</p>
                
            </div>

        </li>
         <hr>
         <li>
            <h5> Is God angry with us if we don't pay tithe? <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
            <div class="secondQuestion" id="secondQuestion">
               <p>God's response to the issue of tithing is not characterized by anger, but rather by His desire for our obedience and trust in Him as our provider. Tithing, which involves giving a tenth of our income, is a principle found in the Old Testament. It was established as a means of supporting the priests, Levites, and the work of the temple, as well as caring for the poor and vulnerable.</p>
                <p>While tithing is no longer a legal requirement under the New Covenant, Christians are encouraged to give generously and sacrificially. In 2 Corinthians 9:7 (NIV), it says, "Each of you should give what you have decided in your heart to give, not reluctantly or under compulsion, for God loves a cheerful giver." God values a cheerful and willing heart in giving, rather than giving out of obligation or fear.</p>
                <p>However, it's important to note that God desires our obedience and stewardship over our resources. In Malachi 3:8 (NIV), God challenges His people regarding their failure to bring the full tithe, but it is followed by an invitation to test Him and experience His blessings.</p>
                <p>If a person chooses not to tithe, it is not a direct cause for God's anger. Instead, it is an opportunity for personal reflection and examination of one's heart and motives. It is crucial to seek God's guidance, listen to His leading, and respond in obedience according to the convictions of one's heart.</p>
                <p>Ultimately, God desires a relationship with us based on love, trust, and obedience. When it comes to giving, the emphasis is on cultivating a heart of generosity and recognizing that all we have belongs to God.</p>
            </div>
      
        </li>
         <hr>
         <li>
            <h5>What if I don’t go to church,can i still give or pay tithe?  <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
             <div class="thirdQuestion">
                <p>The Bible does not explicitly address the question of whether tithing is required for those who do not attend church. However, it is important to understand the biblical principles related to giving and supporting the work of God's kingdom.</p>
                <p>Tithing was primarily practiced in the Old Testament as a way to support the religious and social infrastructure of Israel. It involved giving a tenth of one's agricultural produce and livestock. In the New Testament, while tithing is not explicitly commanded, believers are encouraged to give generously and sacrificially.</p>
                <p>When it comes to the question of tithing for those who do not attend church, it is helpful to consider the following biblical principles:</p>
                <ol>
                    <li><p> Stewardship: As Christians, we are called to be good stewards of all that God has entrusted to us, including our finances. This means responsibly managing our resources and using them in a way that honors God and furthers His kingdom. </p></li>
                    <li><p> Giving and Supporting God's Work: The Bible teaches that believers should contribute to the work of God's kingdom, which includes supporting the local church and ministries that spread the Gospel. In 1 Corinthians 16:2 (NIV), the apostle Paul instructs believers to set aside a portion of their income for the purpose of giving. </p></li>
                    <li><p> Fellowship and Community: Regular participation in a local church provides opportunities for worship, teaching, fellowship, and service. It is within the context of a church community that believers can contribute to the work of God together and be held accountable in their stewardship </p></li>
                </ol>
                <p>While tithing may not be directly applicable for those who do not attend church, it is still important to prioritize giving and support the work of God's kingdom through other means. This could include giving to charitable organizations, missions, or other ministries that align with biblical values.</p>
                <p>Ultimately, the decision to give and how much to give is a personal matter between an individual and God. It is important to seek God's guidance, prayerfully consider one's financial situation, and give with a cheerful and willing heart, recognizing that all we have comes from Him.</p>
             </div>
         </li>
         <hr>
         <li>
            <h5>Is it wrong for pastors to preach about tithe and giving? <i class="fa fa-plus-circle" aria-hidden="true"></i></h5>
           <div class="fourthQuestion">
            <p>it is not wrong for pastors to preach about giving. In fact, addressing the topic of giving is an important aspect of pastoral ministry and teaching. The Bible contains numerous passages that discuss the principles of giving, generosity, and stewardship.</p>
            <h5>Here are a few reasons why pastors may preach about giving</h5>
            <ol>
                <li><p>Biblical Instruction: The Bible provides guidance on the importance of giving and the blessings associated with it. Pastors have a responsibility to teach and explain these biblical principles to their congregations, helping them understand God's perspective on stewardship and generosity.</p></li>
                <li><p>Spiritual Growth: Preaching about giving can contribute to the spiritual growth of believers. It encourages them to align their hearts and actions with God's values, cultivate a generous mindset, and develop a greater trust in God as their provider.</p></li>
                <li><p>Discipleship and Accountability: Pastors have a role in discipleship, helping believers mature in their faith and become more Christ-like. Teaching on giving is part of guiding believers to live in obedience to God's commands and to be accountable in their stewardship of resources.</p></li>
                <li><p>Supporting the Work of Ministry: Giving plays a vital role in sustaining and advancing the work of the church. Pastors may address the topic of giving to educate their congregations about the financial needs of the ministry, supporting missions, outreach, and other initiatives.</p></li>

            </ol>
            <p>It's important to note that the manner in which pastors address the topic of giving should reflect biblical principles of integrity, sensitivity, and grace. They should emphasize the voluntary nature of giving, the importance of cheerful and sacrificial giving, and avoid manipulative or coercive tactics.</p>
            <p>Ultimately, pastors have a responsibility to faithfully proclaim the whole counsel of God, which includes teaching on giving as an essential aspect of discipleship and stewardship.</p>
        </div>

         </li>
         <hr>
         <li>
            <h5>Will I still do well if I don't pay my tithe?<i class="fa fa-plus-circle" aria-hidden="true"></i>  </h5>
            <div class="fifthQuestion">
               <p>The concept of tithing is not a guarantee of worldly success or financial prosperity. While some individuals may experience blessings in their lives as a result of faithful giving, it is important to remember that God's blessings come in various forms and may not always be material or financial.</p>
                <p>The Bible teaches that God is the ultimate provider and that He desires to meet our needs according to His wisdom and timing (Matthew 6:25-34). Our financial well-being is ultimately in God's hands, and our trust should be in Him rather than in specific practices such as tithing alone.</p>
                <p>It is also worth noting that God's blessings extend beyond material possessions. They can include peace, joy, wisdom, relational harmony, spiritual growth, and many other aspects of a fulfilling and abundant life.</p>
                <p>While giving and practicing generosity are encouraged in Scripture, it is not a transactional arrangement where we give to receive specific blessings. Our motivation for giving should be rooted in gratitude, obedience, love for God, and a desire to further His kingdom rather than solely seeking personal gain.</p>
                <p>Ultimately, our well-being in life is not solely determined by tithing, but by living in alignment with God's principles, seeking His guidance, and trusting in His provision. It is important to focus on cultivating a heart of generosity, stewarding our resources wisely, and seeking God's kingdom and righteousness above all else (Matthew 6:33).</p>
            </div>
            </li>
         <hr>
         <!--<li>
            <h5>What if I tithe 3% or 5%? Is that okay with the Lord? <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
            <div class="sixQuestion">
            <p>Giving other than 10% would not be a ‘tithe’, as tithe literally means 10%, but I understand the question</p>
            <p>I think *everyone should start where their faith is* and move up from there.So, if you can, in faith, commit to giving 3% of your income this year with hopes of moving it up to 5% next year, I think God will take you up on that.</p>
            <p>At the same time, I don’t think mature believers who are living under the blessing of God should stop at 10%.</p>
            <p>Remember this is not a legal requirement but *a starting point* for Biblical generosity.</p>
            <p>I do not think God would condemn anyone who is attempting to bring a consistent percentage of their finances, *but I would encourage you to examine your heart, be honest before the Lord, and do your best to increase your giving as God prospers you.*</p>
            <p>So, for those who are just getting started and not sure you can step out and fully tithe, here are some suggested starting blocks for you:
                Start where your faith is…
                Start with a percentage…
                Be consistent in your giving as an act of worship…
                Increase that percentage as your faith grows</p>
            </div>    
         </li>
         <hr>
         <li>
            <h5>I know plenty of “Christians” who do not tithe, yet their financial life seems to be going well and their life does not line up with the principles that you're trying to convince people of. How do you justify this? <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
            <div class="seventhQuestion">
                <p>That’s a great question and my answer is that we won't really be able to say who lived a blessed life until it’s all over.</p>
                <p>Just because a non-tithing Christian has a great income and plenty of stuff, does not necessarily mean they're under the blessing of God; *it just means they have stuff.*</p>
                <p>The real blessing in the life of a giver is often seen in the intangibles and not-so-obvious categories, like peace of mind, health, marital relations, relationships with friends and family, living with a sense of purpose and fulfillment, knowing your life is pleasing to the Lord, influence, and leaving a legacy.</p>
                <p>Thus, *this journey of stewardship is really about faith*, and trusting God that the best version of our life is realized as we trust Him through giving tithes and offerings. But only heaven will reveal the final results.
                    Jared Ayres</p>
            </div>
         </li>-->
       </ul>
        
       </div>
    </div>
</div>



<div class="moreinformation">
    <div class="giving2">
        <h3>Have you given without seeing the result in your life?</h3>
        <div class="lookat">
            <p>Trust God's Provision: Remember that God is the ultimate provider, and He will take care of your needs as you prioritize His kingdom. Trust in His faithfulness and provision, knowing that He sees your heart and desires to bless you.Take the time to educate yourself about biblical principles of stewardship, giving, and managing finances. Read relevant passages in the Bible and explore resources, books, or courses on personal finance and budgeting. 
                This knowledge will provide a foundation for making informed decisions.</p>

         <p>Seek Wise Counsel: Consider seeking guidance from trusted individuals who have experience in financial management and giving. This could be a mentor, financial advisor, or someone in your local church community who can provide practical insights and accountability.</p>
         <p>Budget: Create a budget that outlines your income, expenses, and financial goals. Prioritize giving as a regular expense in your budget.
             Start small if necessary and gradually increase the percentage as you become more comfortable.
              A budget will help you track your finances, ensure you have enough for your needs,
               and allocate funds for giving. Approach giving with a joyful and willing heart. Giving should be a response to God's love and provision, not a burdensome obligation. Cultivate an attitude of gratitude and generosity, recognizing that all we have comes from God.</p>
       
        </div>
        <div class="container">
            <a href="" class="btn btn-danger">Resources</a>
        </div>
    </div>
    <div class="ministries">
        <div class="oursupport">
            <h3>our ministries</h3>
            <ul>
              
                <li><a href="">SOS Ministries</a></li>
                <li><a href="">Hope Pregnancy Center</a></li>
                <li><a href="">Church Food Pantry</a></li>
                <li><a href="">Aggieland Pregnancy</a></li>
                <li><a href="">Team Church</a></li>
                <li><a href="">Leading Second</a></li>
                <li><a href="">Hunger Relief International (Haiti Orphanage)</a></li>
                <li><a href="">Peru (Grace House - rescuing those from human trafficking)</a></li>
                <li><a href="">VOOM Foundation</a></li>
            </ul>
        </div>
    </div>
</div>






{% include 'footer/footer.html' %}


<script>
 
 
    const questionHeaders = document.querySelectorAll('.qst li h5');

questionHeaders.forEach(header => {
  header.addEventListener('click', () => {
    header.parentElement.classList.toggle('active');
  });
});

  </script>
{% endblock %}