
{% extends 'layout/base.html' %}

{% block content %} 

{% load crispy_forms_tags %}
{% load static %}

<style>
      .offering{
        height: 200px;
    }
    .offeringDetails h3{
        margin-top: 150px;
        color: #222;
        font-size: 28px;
    }
    ul li h5 i{
     
        transition-timing-function: 5s ease-in-out;
    }
  .moreInfo{
    transition: all 4s ease-in-out ;
   
    /*transition-timing-function: all 5s ease-in-out;
   background: #2db34a;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;*/
  transition: background .5s linear, border-radius 1s ease-in 1s;
  }
</style>

{% include 'layout/navbar.html' %}

<div class="offeringDetails">
    <div class="heading">
        <!--<h3>Selfless people fill our seats every week</h3>-->
        <h3>Please click on the red button below to make donations</h3>
    </div>
    <div class="text">
        <p>Giving is a means of honoring God and acknowledging His ownership of everything.
            Giving with a cheerful heart and obedience to God's commands leads to spiritual growth and the outpouring of His blessings upon our lives.
        </p>
        <p>Proverbs 11:25  says, "A generous person will prosper; whoever refreshes others will be refreshed." When we give selflessly, we experience a sense of contentment and satisfaction. The act of refreshing others through our giving brings joy and fulfillment to our hearts.</p>
        <p>One of the benefits of giving is experiencing God's faithfulness and provision. In Luke 6:38 (NIV), Jesus says, "Give, and it will be given to you. A good measure, pressed down, shaken together and running over, will be poured into your lap. For with the measure you use, it will be measured to you." God promises to bless and provide for those who give with a generous heart.</p>
        <!--<p>We think it’s possible for Christians to be the most generous people there are. We’ve been blessed as a church to always reach beyond ourselves and serve our city and this world because we have generous people. We’ve seen God do extraordinary things in people’s finances when they put God first in their tithes. We dare you to be a generous, selfless contributor and watch God do the extraordinary.“One gives freely, yet grows all the richer; another withholds what he should give, and only suffers want. Whoever brings blessing will be enriched, and one who waters will himself be watered.” Proverbs 11:24-25</p>-->
    </div>
    <div class="button">
        <a href="{% url 'programm:transact' %}" class="btn btn-danger">make donations</a>
    </div>
</div>


<div class="qst" >
    <div class="question">
        <div class="fq">
            <h1>Frequently Asked Questions</h1>
        </div>
       <div class="sectional_question">
       <ul>
        <li>
            <h5>What if I don’t have the faith or desire to give a full 10% of my income? Am I in sin? <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
            <div class="moreInfo">
                <p>This is a *heart issue*, and ultimately between you and the Lord.</p>
                <p>This is a *heart issue*, and ultimately between you and the Lord.</p>
                <p>This is a *heart issue*, and ultimately between you and the Lord.</p>
                <p>This is a *heart issue*, and ultimately between you and the Lord.</p>
                <p>‍ I can understand someone who is struggling to pay bills, or brand new in their walk with the Lord, taking a while to wrap their mind and heart around the biblical standards of giving. I think God looks at each person's journey, maturity, obedience, and heart motivations.</p>
                <p>So, with that said, only the Lord could say who is sinning and who is simply growing in their giving.</p>
            </div>

        </li>
         <hr>
         <li>
            <h5> I’ve heard it said that… if I don’t tithe, I’m robbing God and under a curse. Does God actually curse non-tithers? <i class="fa fa-plus-circle" aria-hidden="true"></i> <!--<button id="plus" onclick="openFunc()">&#43;</button>--> </h5>
            <div class="secondQuestion" id="secondQuestion">
                <p>This is where my answer will vary from some of the “hardline tithing preachers”. So, here it is: Technically, no, God does not curse New Testament believers. *Yet, in principle, it does happen…* but it's a matter of semantics.</p>
                <p>*Let me explain*. *The curse* in the New Testament could be explained and experienced as *a lack or absence of blessing*. The net results may appear the same.</p>
                <p>1 Corinthians tells us that if we “sow sparingly we will reap sparingly”.Proverbs tells us that “the world of the stingy gets smaller and smaller”.</p>
                <p>So, whether we call it *a curse* OR *absence of blessing*, *the results are not good*.</p>
            </div>
      
        </li>
         <hr>
         <li>
            <h5>What if I don’t have the faith or desire to give a full 10% of my income? Am I in sin?  <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
             <div class="thirdQuestion">
                <p>You should respect and honor your husband.  He is the head of the household and will give an account before God. I would recommend letting him know that you'd like to tithe and honor God according to scripture, butt hat you will submit to his decision. *God will work in his heart if you will honor and respect his leadership*, and perhaps you can give from your personal income or however God increases you personally.</p>
                <p>Where do I send my tithe? Does it all go to my local church or can I divide it up as I please (i.e. charitable organizations, my son's Christian school tuition, my brother-in- law's missions trip)</p>
             </div>
         </li>
         <hr>
         <li>
            <h5>What if I don’t have the faith or desire to give a full 10% of my income? Am I in sin? <i class="fa fa-plus-circle" aria-hidden="true"></i></h5>
           <div class="fourthQuestion">
            <p>The Bible tells us to “bring all the tithe *into the storehouse*”.This means *the local church* or place where you are being spiritually fed.</p>
            <p>If you do not have a local church, then *I strongly recommend everyone get planted in a healthy local church,* bring the tithe to that storehouse, and give beyond that amount in offerings as the Lord leads you</p>
           </div>

         </li>
         <hr>
         <li>
            <h5>What if I don’t have the faith or desire to give a full 10% of my income? Am I in sin? <i class="fa fa-plus-circle" aria-hidden="true"></i>  </h5>
            <div class="fifthQuestion">
                <p>Of course not! God wants to bless the poor under the same promises that He wants to bless the middle class and the rich</p>
                <p>While it is wrong to put pressure on people to give, it would be cruel to not challenge people to trust God with their giving so they can see things turn around in their life.</p>
                <p>*In other words*, if these promises and principles don't work for the poor,they don’t work for anyone! God said to “test me in this”, and He alwayspasses the test</p>
            </div>
            </li>
         <hr>
         <li>
            <h5>What if I tithe 3% or 5%? Is that okay with the Lord? <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
            <div class="sixQuestion">
            <p>Giving other than 10% would not be a ‘tithe’, as tithe literally means 10%, but I understand the question</p>
            <p>I think *everyone should start where their faith is* and move up from there.So, if you can, in faith, commit to giving 3% of your income this year with hopes of moving it up to 5% next year, I think God will take you up on that.</p>
            <p>At the same time, I don’t think mature believers who are living under the blessing of God should stop at 10%.</p>
            <p>Remember this is not a legal requirement but *a starting point* for Biblical generosity.</p>
            <p>I do not think God would condemn anyone who is attempting to bring a consistent percentage of their finances, *but I would encourage you to examine your heart, be honest before the Lord, and do your best to increase your giving as God prospers you.*</p>
            <p>So, for those who are just getting started and not sure you can step out and fully tithe, here are some suggested starting blocks for you:
                Start where your faith is…
                Start with a percentage…
                Be consistent in your giving as an act of worship…
                Increase that percentage as your faith grows</p>
            </div>    
         </li>
         <hr>
         <li>
            <h5>I know plenty of “Christians” who do not tithe, yet their financial life seems to be going well and their life does not line up with the principles that you're trying to convince people of. How do you justify this? <i class="fa fa-plus-circle" aria-hidden="true"></i> </h5>
            <div class="seventhQuestion">
                <p>That’s a great question and my answer is that we won't really be able to say who lived a blessed life until it’s all over.</p>
                <p>Just because a non-tithing Christian has a great income and plenty of stuff, does not necessarily mean they're under the blessing of God; *it just means they have stuff.*</p>
                <p>The real blessing in the life of a giver is often seen in the intangibles and not-so-obvious categories, like peace of mind, health, marital relations, relationships with friends and family, living with a sense of purpose and fulfillment, knowing your life is pleasing to the Lord, influence, and leaving a legacy.</p>
                <p>Thus, *this journey of stewardship is really about faith*, and trusting God that the best version of our life is realized as we trust Him through giving tithes and offerings. But only heaven will reveal the final results.
                    Jared Ayres</p>
            </div>
         </li>
       </ul>
        
       </div>
    </div>
</div>



<div class="moreinformation">
    <div class="giving2">
        <h3>Maybe you’re new to giving, or you have had a hard time managing money?</h3>
        <div class="lookat">
            <p>
                A text can be any example of written or spoken language, from something as complex as a book or legal document to something as simple as the body of an email or the words on the back of a cereal box. In the humanities, different fields of study concern themselves with different forms of texts</p>
        </div>
        <div class="container">
            <a href="" class="btn btn-danger">Resources</a>
        </div>
    </div>
    <div class="ministries">
        <div class="oursupport">
            <h3>our ministries</h3>
            <ul>
                <li><a href="">Still Creek boys and girls homes</a></li>
                <li><a href="">SOS Ministries</a></li>
                <li><a href="">Hope Pregnancy Center</a></li>
                <li><a href="">Church Food Pantry</a></li>
                <li><a href="">Aggieland Pregnancy</a></li>
                <li><a href="">Team Church</a></li>
                <li><a href="">Leading Second</a></li>
                <li><a href="">Hunger Relief International (Haiti Orphanage)</a></li>
                <li><a href="">Peru (Grace House - rescuing those from human trafficking)</a></li>
                <li><a href="">VOOM Foundation</a></li>
            </ul>
        </div>
    </div>
</div>






{% include 'footer/footer.html' %}


<script>
 
 
    const questionHeaders = document.querySelectorAll('.qst li h5');

questionHeaders.forEach(header => {
  header.addEventListener('click', () => {
    header.parentElement.classList.toggle('active');
  });
});

  </script>
{% endblock %}