
{% extends 'layout/base.html' %}

{% block content %} 

{% load static %}

{% include 'layout/navbar.html' %}

<style>
    .offering{
        height: 0px;
    }
 
</style>


<div class="ourStory animate__animated animate__fadeInLeft">
    <div class="heading">
        <h3>our story</h3>
    </div>
    <div class="text">
        <!--<p>We think it’s possible for Christians to be the most generous people there are. We’ve been blessed as a church to always reach beyond ourselves and serve our city and this world because we have generous people. We’ve seen God do extraordinary things in people’s finances when they put God first in their tithes. We dare you to be a generous, selfless contributor and watch God do the extraordinary.“One gives freely, yet grows all the richer; another withholds what he should give, and only suffers want. Whoever brings blessing will be enriched, and one who waters will himself be watered.” Proverbs 11:24-25</p>-->
    </div>
    <div class="button">
       
    </div>
</div>

<div class="container">
    <div class="story-detail">
        <ul>
            <li>
                <img src="/static/images/church_pics/church_story2.jpg" alt="">
            </li>
            <li>
                <h3>
                   
                    Creating a Connected and Supportive Church Community
                </h3>
                
                <div class="text-details">
                    <P>The purpose of JCGM is to fulfill the Great Commission through living out the Great Commandment. We believe that the core of our mission is to love God and love others, just as Jesus taught in Matthew 22:37-39. Our aim is to create a connected and supportive church community where individuals can experience the love, hope, and purpose found in Jesus Christ</P>
                
                    <P>By focusing on the teachings of Christ and the example He set, we seek to build strong relationships within our church family. We understand that true community is built on selflessness, compassion, and empathy. We strive to foster an environment where individuals can come together, support one another, and grow in their faith.</P>
                     
                    <P>Our ultimate goal is to bring the love and hope of Jesus Christ to people, both within our church community and beyond. We want to share the message of God's unconditional love and the transformational power of faith. By doing so, we hope to make a positive impact on the lives of others and contribute to the building of a more loving and compassionate society.</P>
                
                        
                        </div>
                        <a class="btn btn-danger" href="{% url 'programm:pastors' %}">meet our pastors</a>
            </li>
        </ul>
    </div>
</div>

<div class="family">
<div class="container">
    <h3>Building Strong Family Bonds, Family unity  for a nurturing and supportive environment.</h3>
        <div class="text-details">
            <p>The invitation to "Come as You Are to Christ" embodies the core essence of Christianity: a loving and inclusive invitation extended to all people, regardless of their background, struggles, or shortcomings. It is an invitation to approach Jesus in the midst of our brokenness, offering acceptance and grace. This concept acknowledges that we don't need to have everything figured out or be perfect before coming to Christ; instead, we are invited to bring our true selves, with all our doubts, fears, and imperfections</p>
           
           <p>Embracing Authenticity and Vulnerability:
            Coming as we are to Christ requires us to embrace authenticity and vulnerability. It means being honest with ourselves and God, acknowledging our struggles, doubts, and insecurities. Christ invites us to let go of masks and pretenses, knowing that He accepts us just as we are. In our vulnerability, we find healing and transformation, experiencing the power of Christ's love that meets us in our brokenness and guides us towards wholeness</p>
            <p>
                Cultivating a Welcoming Church Community:
              The call to come as we are to Christ extends beyond individual encounters. It also encompasses the church community. As followers of Christ, we are called to cultivate a culture of acceptance, love, and grace within our churches. By embodying Christ's love and acceptance, we create an environment where individuals can be authentic, vulnerable, and find support on their spiritual journey. A welcoming church community reflects Christ's heart and attracts others to experience His transformative love.
              We welcome your decision to join JCGM.
            </p>
          
        </div>
        <a class="btn btn-danger" href="{% url 'programm:contact' %}">service times</a>
</div>
</div>

<div class="container">
    <div class="imperfection">
        <h3>Extending Acceptance and Grace to Other</h3>
        <div class="text-details">
            <p>
                As recipients of Christ's acceptance and grace, we are called to extend the same to others. We are called to be vessels of compassion, empathy, and forgiveness, reflecting Christ's love in our interactions with others. By embracing this mindset, we contribute to creating a more loving and accepting society, breaking down barriers and fostering unity among diverse individual
            </p>
        </div>
        <a class="btn btn-danger" href="{% url 'programm:val' %}">our values</a>
    </div>
</div>

{% include 'footer/footer.html' %}
{% endblock %}