
{% extends 'layout/base.html' %}

{% block content %} 

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% include 'layout/navbar.html' %}

<style>
      .offering{
        height: 0px;
    }
   .heading h2{
    text-align: center;
    text-transform: capitalize;
    margin-top: 150px;
    color: #000;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
   }
    #msg{
        text-align: center;
        text-transform: capitalize;
        font-size: 28px;
        color: hsl(213, 91%, 36%);
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
    }
    #msg{
        margin-bottom: 100px;
    }
</style>

<div class="success">
    <div class="heading  animate__animated animate__backInLeft animation-delay-0s">
        <h2>Payment was successful!</h2>
    </div>
    <div class="text nimate__animated animate__backInRight animation-delay-1s">
        {% if messages %}
        {% for msg in messages %}
        <h3 id="msg">{{msg}}</h3>
        {% endfor %}
        {% endif %}
   
</div>
</div>



   
{% include 'footer/footer.html' %}   
{% endblock %}