
<footer>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6">
                <div class="image-body">
                    <img src="/static/images/brand/brand_global_ministry.jpeg" alt="">
                    <span class="brand-name">
                        <h4>Jesus christ ministry</h4>
                        <h4>church</h4>
                    </span>
                   <div class="text">
                    <h5>4242 Koppa Bridge Road,</h5>
                    <h5>Suite 100,College Station, TX 77845</h5>
                   </div>
                </div>
            </div>
            <div class="col-lg-6">
               <div class="contact">
                <h3>Support the work of christ in our ministry</h3>
                <ul>
                    <li><a href="">giving</a></li>
                    <li><a href="">contact us</a></li>
                </ul>
               </div>
            </div>

            <div class="col-lg-6">
             <div class="social">
                <a href="https://www.facebook.com/people/Jesus-Christ-Global-Ministries/100068932412795/"><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                
                <a href=""><i class="fa-brands fa-youtube"></i></a>
             </div>
            </div>
            <div class="col-lg-6">
              <div class="info-right">
                <h5>© 2023 Jesus Christ global ministry Church. All rights reserved.</h5>
                
                <p>developed by: <a href="https://raddotech.com">raddotech.com</a></p>
              </div>
            </div>
        </div>
    </div>
</footer>