
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    /*transition: step-end;*/
}

.e-church{
    width: 100%;
    height: 100vh;
   
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    width: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}
nav .logo{
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li:hover{
    color: #fff;

}
.content{
    text-align: center;

}
.content h1{
    font-size: 40px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: dashed;
    display: inline-block;
    color: green;
    font-size: 22px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    padding: 20px;
}
.backgroundVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;

}
.connections{
    /*margin-top: 500px;*/
    position: relative;
    top: 35%;
}
.connections ul{
    display: inline-flex;
    transition: all 2s ease-in-out;
}
.connections ul li{
    list-style: none;
    width: 150px;
    /*border: 2px solid white;*/
    margin: 10px;
    height: 50px;
    border: 2px solid hsl(213, 91%, 36%);
}
.connections ul li:hover{
    transition: all 1s ease-in;
    background: navy;
    background: hsl(213, 91%, 36%);
}
.connections ul li a{
    color: #fff;
    text-align: center;
    margin: 15px;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
}
.churchMessage{
    transition: all 3s ease-in;
    background-color: hsl(213, 91%, 36%);
    height: 80vh;
}
.churchMessage .information .container{ 
    width: auto;
   margin-left: 250px;
  
   word-break: break-all;
  
}
.churchMessage .information > .container{
   
   position: relative;
   top: 80px;
}
.information .container h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
.information .container .text{
    margin: 30px;
    width: 700px;
}
.information .container .text h2{
    margin-top: 30px;
    color: #fff;
    font-size: 22px;
}
.information .container .text p{
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
  
   word-wrap: break-word;
   
    
    font-family: 'Times New Roman', Times, serif
}
 .text .readmore{
    margin-top: 60px;
    width: 150px;
    border: 2x solid hsl(213, 91%, 36%);
    background-color: #fff;
   
    height: 50px;
    
}
.text .readmore:hover{
    background-color: brown;
    color: #000;
    transition: 1s ease-in-out;
}
.text .readmore a{
    text-decoration: none;
    font-size: 22px;
    
    text-transform: capitalize;
    color: hsl(213, 91%, 36%);
    text-align: center;
    position: relative;
    top: 10px;
    margin-left: 20px;
}
.churchInfo{
    transition: all 3s ease-in;
   
    height: 80vh;
    z-index: -1 !important;
}
.churchInfo label{
    margin-top: 50px;
    margin-left: 40px;
    color: hsl(213, 91%, 36%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}
.address h3{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 22px;
}
.direction{
    margin-left: 40px;
    margin-top: 50px;
    width: 140px;
    border-bottom: 2px solid #fff;
    /*border: 2px solid rebeccapurple;*/

}
.direction a{
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: hsl(213, 91%, 36%);
    
}
.direction:hover{
    background: black;
    color: #fff;
    transition: 3s ease-in-out;
}
.service{
    margin-top: 50px;
    margin-left: 40px;
}
.service h4{
    color: hsl(213, 91%, 36%);
    font-weight: 700;
}

/* slide*/
.slide{
    transition: all 3s ease-in;
    height: 75vh;
    background-color: hsl(213, 91%, 36%)
}

.slide .motivation{
    position: relative;
    top: 50px;
    margin-left: 50px;
}
.slide .motivation .item .col-md-6{
    width: 500px;
}
/*.motivation .item .col-md-6 h2{
 
    margin-top: 30px;
  
    font-size: 22px;
}*/

.motivation .col-md-6 h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
/*.learnFamily .container{
    position: relative;
   top: 80px;
}*/


.motivation .item .col-md-6 h2{
    margin-top: 30px;
    /*color: #fff;*/
    font-size: 22px;
    text-transform: uppercase;
}
.motivation .item .col-md-6 h6{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-style: italic;
}
 .motivation .item .col-md-6 p{
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif
}
button.owl-prev{
    position: absolute;
    top: 30%;
    width: 100px;
    left: -80px;
   
}
button.owl-next{
    position: absolute;
    top: 30%;
    width: 100px;
   right: -20px;
   
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    
    color: #fff;
    font-size: 50px !important;
    margin: 10px;
    font-weight: 800 !important;
}

/*slide end*/


.fa-solid{
    color: #fff;
    font-size: 28px;
    margin: 10px;
    
}
.left-arrow{
   
   
    width: 50px;
    margin: 20px;
    position: absolute;
    top: 40%;
    left: -60px;
}
.left-arrow:hover{
    background: red;
    transition: 1s ease-in;
}

.right-arrow{
   width: 50px;
   margin: 20px;
   position: absolute;
   top: 40%;
   right: -60px;
}
.right-arrow:hover{
    background: red;
    transition: 1s ease-in;
}
footer{
    width: 100%;
    height: 60vh;
    transition: all 3s ease-in-out;
    position: relative;
    padding: 0 5%;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
   
    
}
.image-body{
    margin-top: 50px;
}
footer .image-body img{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
   
    
}
.brand-name h4{
   color: hsl(213, 91%, 36%);
   font-size: 22px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 700;
}
.image-body .text{
    margin-top: 15px;
}
.image-body h5{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.social{
    margin-top: 40px;

}
.social a{
    margin: 10px;
    font-size: 24px;
    color: hsl(213, 91%, 36%);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.contact h3{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(213, 91%, 36%);
    font-weight: 700;
}
.contact{
    margin-top: 50px;
}
.contact ul{
    padding-left: 5px
}
.contact ul li{
    list-style: none;
}
.contact ul li a{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-bottom: hsl(213, 91%, 36%);
    text-decoration: underline;
}
.info-right{
    margin-top: 30px;
}
.info-right h5{
    color: hsl(213, 91%, 36%);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.info-right p{
    font-size: 16px;
    text-transform: capitalize;
}
.link{
    width: 120px;
    background-color: #fff;
    border: 2px solid whitesmoke;
    height: 40px;
}
.link:hover{
    background-color: #000;
    color: #fff;
    transition: all 1s ease-in-out;
}
.link a{
    text-decoration: none;
    color: hsl(213, 91%, 36%);
    font-size: 18px;
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
}
iframe{
    margin-top: 10px;
    width: 550px;
    height: 400px;
   
}
/* toggle bar*/
.navbar-toggler{
    display: none;
  }
/*map css*/
.mapouter{
    position:relative;
    text-align:right;
    height:500px;width:600px;
    }
   
 /*end map*/   


.offering{
    background-image: url('/static/images/church_pics/dove1.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;

 
}
.donation{
    width: 100%;
}

/*giving page css*/

.offering ul{
    /* display: flex;
    justify-content: flex-end;*/
position: fixed;
top: 0;
width: 99.5%;
background-color: #333;
color: #fff;
padding: 10px;
transition: .3s ease-in-out;
display: flex;
justify-content: flex-end;
     
 }
 .offering ul li{
     list-style: none;
    
     margin-right: 50px;
 }
 .offering ul li:hover{
     text-decoration: underline;
     color:hsl(213, 91%, 36%)
 }
 .offering ul li a{
     color: white;
     text-decoration: none;
     text-transform: capitalize;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
 }
 .offeringDetails .heading h3{
     margin: 30px;
     text-align: center;
     font-size: 32px;
     font-family: 'Times New Roman', Times, serif;
 }
 .offeringDetails .text p{
     text-align: left;
     margin-left: 150px;
     margin-right: 150px;
     font-family:   Arial, sans-serif;
     transition: .5s ease-in-out;
 }   
.offeringDetails .button{
margin-left: 150px;
margin-right: 100px;
text-transform: capitalize;
}
.sectional_question ul li{
 list-style: none;

}
.question{
 margin: 100px;
}
.fq h1{
 margin-left: 150px;
margin-right: 100px;
margin-bottom: 50px;
text-transform: capitalize;
font-size: 28px;
padding-top: 50px;

color: white;
}
.sectional_question{
 margin: 20px;
}
.secondQuestion{
 display: none;
}
.qst{
 background: hsl(213, 91%, 36%);
}
.sectional_question li{
 margin: 20px;
 transition: .5s ease-in-out;
}
.sectional_question li h5{
 color: #fff;
 font-size: 18px;
 font-family: Arial, Helvetica, sans-serif;

}
hr{
 color: #fff;
 font-weight: 700;
}
.question p{
 color:  hsl(0, 6%, 84%);
 font-size: 15px;

}
li h5 i{
 width: 20px;
 height: 50px;
 font-size: 30px;
 border-radius: 50%;

 border: none;
 color: hsl(213, 91%, 36%);
 cursor: pointer;
 margin: 5px;
 color: #fff;
 margin-bottom:10px ;  
 transition: all 5s ease-in-out;
}
.giving2{
 transition: .3s ease-in-out;
 margin-left: 150px;
 margin-right: 150px;
 margin-bottom: 150px;
}
.giving2 h3{
 font-family: 'Times New Roman', Times, serif;
 transition: .5s ease-in;
 margin-bottom: 70px;

}
.lookat p{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 transition: .5s ease-out;
}
.ministries{
 background:whitesmoke
}
.oursupport{
 transition: all .5s ease-in;
 margin: 150px;
}
.oursupport h3{
 text-transform: capitalize;
 font-size: 30px;
 color: #000;
 padding-top: 50px;
}
.oursupport ul{
 padding-bottom: 50px;
}
.oursupport ul li{
 list-style: none;
 margin: 10px;

 font-size: 18px;
 text-transform: capitalize;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
.oursupport ul li a{
 color: hsl(213, 91%, 36%)
}

.qst li .moreInfo,
.qst li .secondQuestion,
.qst li .thirdQuestion,
.qst li .fourthQuestion,
.qst li .fifthQuestion,
.qst li .sixQuestion,
.qst li .seventhQuestion {
  display: none;
}

.qst li.active .moreInfo,
.qst li.active .secondQuestion,
.qst li.active .thirdQuestion,
.qst li.active .fourthQuestion,
.qst li.active .fifthQuestion,
.qst li.active .sixQuestion,
.qst li.active .seventhQuestion  {
  display: block;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #0c79e7;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
}

/*giving information page css*/
.offering{
    height: 350px;
    background-size: cover;
}
select{
    width: 500px;
    border: 1px solid #0c79e7;
    height: 35px;
    border-radius: 20px;
}
.title-giving{
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
form{
    margin-bottom: 50px;
}
.product_form{
    transition: all .5s ease-in-out;
}
.col-md-6{
    transition: all .5s ease-in-out;
}
.moreInfo, .secondQuestion, .thirdQuestion, .fourthQuestion, .fifthQuestion,.sixQuestion, .seventhQuestion{
    transition: all 5s ease-in-out;
}

/*event image gallery page*/

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.gallery .item{
    position: relative;
    height: 270px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;
    margin: 10px;
    z-index: -1;
}
.gallery .item img {
	width: 250px;
	height: 250px;
	margin: 10px;
	object-fit: cover;
	cursor: pointer;
	transition: transform .3s;
  
    border-radius: 10px;
    transition: .5s;
}

.gallery img:hover {
	transform: scale(1.1);
}

/*pastors */
.pastor{
    background-image: url('/static/images/pastoral/pastor.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}

.heading h3{
    margin-top: 10px !important;
    color: #fff;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
}

.container.pastorsDetails{
  
    margin-top: 100px;
}

.pastorsDetails .product-card {
        width: 550px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        border-radius: 20px;
        transition: .5s all ease-in-out;
      }
      
     .pastorsDetails .product-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
      
      .pastorsDetails .product-card h3 {
        margin-top: 20px;
        font-size: 24px;
        text-align: center;
        text-transform: capitalize;
      }
      
      .pastorsDetails .product-card p {
        font-size: 18px;
        text-align: center;
        margin: 0px;
        line-height: .2px;
        text-transform: capitalize;
      }
      
     .pastorsDetails  .card{
      
        translate: 70px 0px;
        width: 500px;
        z-index: -1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        border-radius: 20px;
        transition: .5s all ease-in-out;
      }
      .pastorsDetails .card p{
        line-height: 25px;
      }
      
 .pastorsDetails .col .col-md-6{
    margin-bottom: 100px;
    transition: .5s all ease-in-out;
 }    

 .pastorsDetails .pastors{
    text-transform: uppercase;
    text-shadow: #fff;
    color:#000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700;
 }
.pastorsDetails .center {
    text-align: center;
}
.pastorsDetails .pagination {
    display: inline-block;
}

.pastorsDetails .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
}
.pastorsDetails .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pastorsDetails .pagination a.active {
    background-color: #3e4b5b;
    color: white;
    border: 1px solid #3e4b5b;
}

.pastorsDetails .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

 div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, span {
    text-shadow: none;
}
a, div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, span {
    text-shadow: none;
}

.ourStory{
    background-image: url('/static/images/church_pics/church_story1.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}
.story-detail ul{
    display: flex;
    margin-top: 50px;
    transition: .3s all ease-in-out;
   }
  .story-detail ul li{
    width: 50%;
  
    list-style: none;
    margin: 5px;
    transition: .3s all ease-in-out;
  } 

  .story-detail ul li img{
       width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        border-radius: 20px;
        transition: .5s all ease-in-out;

  }
  .text-details p{
    line-height: 30px;
  }
  .btn-danger{
    text-transform: capitalize;
  }
 .family{
    margin-top: 80px;
    margin-bottom: 40px;
    transition: .3s all ease-in-out;
 } 
 .imperfection{
    margin-top: 70px;
    margin-bottom: 50px;
    transition: .3s all ease-in-out;  
 }


   

  
@media screen and (max-width: 570px) {
    .story-detail ul{
        display: block;
    }
    .story-detail ul li{
    width: 100%;
   } 
}  




/*our mission*/
.ourMission{
    background-image: url('/static/images/church_pics/church_story6.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}
 .our_mission ul{
    
    margin-top: 50px;
    transition: .3s all ease-in-out;
   }
   .our_mission ul li{
   
  
    list-style: none;
    margin: 10px;
    transition: .3s all ease-in-out;
  }
.our_mission a{
    text-decoration: underline;
    color: red;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.ourMission .text{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 30px;
    line-height: 30px;
}


/*our belief*/
.ourBelief{
    background-image: url('/static/images/church_pics/cross1.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}

/* donation */
/*.success{
    background-image: url('/static/images/church_pics/giving2.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}*/


 @media screen and (max-width: 990px) {
    .pastorsDetails .col{
        width: 100% !important;
    }
    .pastorsDetails{
        margin: 0;
        padding: 0;
    }
    .pastorsDetails .product-card {
        width: 500px;
        padding: 10px;
        
      }
    .pastorsDetails .card{
        width: 450px;
        flex-wrap: wrap;
    }  
 }
 @media screen and (max-width: 940px) {
    .pastorsDetails .product-card {
        width: 430px;
        padding: 10px;
        
      }
    .pastorsDetails .card{
        width: 430px;
        translate: 50px 0px;
    } 

 }
 @media screen and (max-width: 870px) {
    .pastorsDetails .product-card {
        width: 400px;
        height: 300px;
        padding: 5px;
        
      }
    .pastorsDetails .card{
        width: 400px;
        translate: 30px 0px;
    } 
 }


 @media screen and (max-width: 821px) {
    .container.pastorsDetails{
        margin: 10px;
        padding: 10px;
    }
    .pastorsDetails .col-md-6{
        width: 100%;
       
    }
    .pastorsDetails .product-card {
        width: 100%;
        height: 400px;
        padding: 2px;
        padding: 10px;
        
      }
    .pastorsDetails .card{
        width: 100% !important;
        translate: 10px 0px;
        padding: 10px;
    } 
 }


@media screen and (max-width: 990px) {
    .e-church{
        width: 100%;
        height: 500px;
    }
    .churchMessage {
        width: 100%;
        height: 500px;
    }
    .churchMessage .information .container {
        width: auto;
        margin-left: 50px;
        word-break: break-all;
    }
    .churchInfo {
        transition: all 3s ease-in;
        width: 100%;
        height: 500px;
        z-index: -1 !important;
    }
    .churchInfo label {
     
        margin-left: 35px;
        font-size: 17px;
       
    }
    .churchInfo .container .row{
        width: 100%;
    }
    .churchInfo .container .row .col-sm-6{
        width: 50%;
    }
    .address h3 {
      
        font-size: 18px;
    }
    .container, .container-sm {
        max-width: 100%;
        margin-left: 20px;
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 100%;
    }
    iframe{
        margin-top: 10px;
        width: 100%;
        height: 400px;
       
    }
    .slide {
      
        height: 500px;
       
    }

    .slide .motivation {
      
        margin-left: 10px;
    }
    .slide .motivation .item .col-md-6 {
        width: 400px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 5px;
        margin-bottom: 10px;

    }
    .container, .container-sm {
        /* max-width: 600px; */
        margin-left: 5px;
    }
     footer{
        padding: 0;
        height: 400px;
     }
    footer .container {
   
    margin-left: 5px;
   max-width: 100%;
   }
   footer .container .row .col-lg-6{
    margin:10px;
    
   }
   .row>* {
    flex-shrink: 0;
    width: 45%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}
.contact h3{
    color: hsl(213, 91%, 36%);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.contact ul{
    padding-left: 5px;
}
.contact ul li a {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-bottom: hsl(213, 91%, 36%);
    text-decoration: revert;
}
select{
    width: 400px;
    
}

}
@media screen and (max-width: 915px) {
    select{
        width: 350px;
        
    }
}
@media screen and (max-width: 800px) {
    select{
        width: 300px;
        
    }
}
@media screen and (max-width: 870px) {
    .e-church{
        width: 100%;
        height: 400px;
       
    }
    .churchMessage {
        height:400px;
    }
    .churchMessage .information .container {
        width: auto;
        margin-left: 20px;
        word-break: break-all;
    }
    .churchInfo {
        transition: all 3s ease-in;
        height: 400px;
        z-index: -1 !important;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 400px;
        width: 100%;
    }
    iframe{
        margin-top: 10px;
        width: 100%;
        height: 350px;
       
    }
    .slide {
      
        height: 400px;
       
    }

    .slide .motivation {
      
        margin-left: 10px;
    }
    .slide .motivation .item .col-md-6 {
        width: 350px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 5px;
        margin-bottom: 10px;

    }
    .container, .container-sm {
        /* max-width: 600px; */
        margin-left: 5px;
    }
    .information .container .text p {
        margin-top: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        word-wrap: break-word;
        font-family: 'Times New Roman', Times, serif;
    }
    .text .readmore {
        margin-top: 5px;
        width: 150px;
        border: 2x solid hsl(213, 91%, 36%);
        background-color: #fff;
        height: 50px;
        margin-bottom: 30px;
    }
    .slide .motivation {
        position: relative;
        top: 0px;
        margin-left: 50px;
    }
    .address h3 {
        margin-top: 20px;
        margin-left: 10px;
        font-size:18px;
    }
    .direction {
        margin-left: 10px;
        margin-top: 50px;
        width: 140px;
        border-bottom: 2px solid #fff;
        /* border: 2px solid rebeccapurple; */
    }
    .service {
        margin-top: 50px;
        margin-left: 10px;
    } 

    .offering{
        margin-top: 30px;
        background-position: center center;

    }
    .fq h1 {
        margin-left: 50px;
        margin-right: 70px;
        margin-bottom: 50px;
        text-transform: capitalize;
        font-size: 22px;
        padding-top: 50px;
        color: white;
    }
}
@media screen and (max-width: 700px) {
    select{
        width: 280px;
        
    }
}

@media screen and (max-width: 770px) {
    .e-church{
        width: 100%;
        height: 400px;
       
    }
    .churchMessage {
        height:400px;
    }
    .address h3 {
      
        font-size: 18px;
        text-align: left;
    }
    .information .container .text {
        margin: 10;
        width: 100%;
        flex-wrap: wrap;
    }
    .churchMessage .information > .container {
        position: relative;
        top: 10px;
    }
    .churchInfo {
        transition: all 3s ease-in;
        height: auto;
        z-index: -1 !important;
    }
   
    .churchInfo .container{
  
    margin: 10px;
}
.churchInfo .container .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
   
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
  
    margin-left: calc(-.5 * var(--bs-gutter-x));
    display: block;
    width: 100%;
}
.churchInfo .container .row .col-sm-6{
   
        flex-shrink: 0;
        width: 100%;
        /*overflow: scroll;*/
        overflow: overlay;
        margin-top: var(--bs-gutter-y);

    
}
.churchInfo label {
    margin-left: 100px;
    text-align: center;
}
.churchInfo .location{
    margin-left: 100px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    margin-left: 0px;
}
iframe {
    margin-top: 10px;
    width: 100%;
    height: 300px;
}
.slide {
    height: auto;
}
.slide .motivation {
    margin-left: 10px;
}
.slide .motivation .item{ 
    margin: 5px;
}nav ul{
    display: none;
}
.navbar-toggler{
    display: block;
    position: absolute;
    right: 0;
    
  }
  .motivation .item .col-md-6 p {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    word-break: break-word;
    flex-wrap: wrap;
    padding: 10px;
}
.information .container .text{
    margin: 5px;
}
.information .container .text h2 {
 
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    flex-wrap: wrap;
}
.col-md-6 h6{
    margin: 15px;
}
.col-md-6 p{
    margin: 10px;
}
}
@media screen and (max-width: 700px) {
    .e-church{
        width: 100%;
        height: 350px;
       
    }
    .slide .motivation {
        margin-left: 50px;
    }
    .slide .motivation .item .col-md-6 {
        width: 100%;
    }
    .motivation .item .col-md-6 h2 {
        margin-top: 30px;
        /* color: #fff; */
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }
    .connections ul {
        padding-left: 5px;
    }
    .connections ul li {
        list-style: none;
        width: 150px;
        /* border: 2px solid white; */
       
    }

    .connections ul li a {
    color: #fff;
    text-align: center;
    margin: 5px;
    font-size: 16px;
   
}
.churchInfo label {
    margin-left: 75px;
    text-align: center;
}
.churchInfo .location {
    margin-left: 70px;
}
}
@media screen and (max-width: 660px) {
    .e-church{
        width: 100%;
        height: 330px;
       
    }
    .connections ul {
        padding-left: 5px;
    }
    .connections ul li {
        list-style: none;
        width: 100px;
        /* border: 2px solid white; */
       
    }

    .connections ul li a {
    color: #fff;
    text-align: center;
    margin: 2px;
    font-size: 15px;
   
}


 .offeringDetails .heading h3{
     margin: 20px;
     text-align: center;
     font-size: 28px;
     font-family: 'Times New Roman', Times, serif;
 }
 .offeringDetails .text p{
     text-align: left;
     margin-left: 70px;
     margin-right: 70px;
     font-family:   Arial, sans-serif;
     transition: .5s ease-in-out;
 }   
.offeringDetails .button{
margin-left: 70px;
margin-right: 50px;
text-transform: capitalize;
}
.sectional_question ul li{
 list-style: none;

}
.question{
 margin: 50px;
}
.fq h1{
 margin-left: 40px;
margin-right: 40px;
margin-bottom: 50px;
text-transform: capitalize;
font-size: 28px;
padding-top: 50px;

color: white;
}



}
@media screen and (max-width: 645px) {
    select{
        width: 260px;
        
    }
}

@media screen and (max-width: 600px) {
    .e-church{
        width: 100%;
        height: 310px !important;
       
    }
    .information .container h3 {
        text-transform: uppercase;
        font-size: 10px;
        color: #fff;
    }
    .information .container .text {
        margin: 5px;
        width: 100%;
        flex-wrap: wrap;
    }
    .information .container .text h2 {
        margin-top: 20px;
        color: #fff;
        font-size: 18px;
    }
    .information .container .text p {
        margin-top: 5px;
        color: #fff;
        font-size: 14px;
       flex-wrap: wrap;
        word-wrap: break-word;
        font-family: 'Times New Roman', Times, serif;
    }
    .text .readmore {
        margin-top: 5px;
        width: 100px;
        border: 2x solid hsl(213, 91%, 36%);
        background-color: #fff;
        height: 30px;
        margin-bottom: 30px;
    }
    .text .readmore a {
        text-decoration: none;
        font-size: 14px;
        text-transform: capitalize;
        color: hsl(213, 91%, 36%);
        text-align: center;
        position: relative;
        top: -1px;
        margin-left: 10px;
    
      
    }
    .churchMessage {
        height: auto;
    }
    .e-church{
        width: 100%;
        height: 200px;
       
    }
    .connections ul {
        padding-left: 2px;
    }
    .connections ul li {
        list-style: none;
        width: 99px;
        height: 50px;
        /* border: 2px solid white; */
    }

    .connections ul li a {
    color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 13px;
   
}
.connections ul li a {
    color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 14px;
}
.giving2 {
    transition: .3s ease-in-out;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
}
.oursupport {
    transition: all .5s ease-in;
    margin: 30px;
}
.giving2 {
    transition: .3s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}
.col-md-6{
    width: 100%;
}
#freq {
    width: 100% !important;
}
}
@media screen and (max-width: 550px) {
    .e-church{
        width: 100%;
        height: 280px !important;
       
    }
    .fq h1 {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
        text-transform: capitalize;
        font-size: 18px;
        padding-top: 50px;
        color: white;
    }  
    .sectional_question {
        margin: 5px;
    }
    ol, ul {
        padding-left: 0.3rem;
    }
    .sectional_question li {
        margin: 5px;
        transition: .5s ease-in-out;
    }
    .offeringDetails .heading h3 {
        margin: 20px;
        text-align: center;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .offeringDetails .text p {
        text-align: left;
        margin-left: 20px;
        margin-right: 30px;
        font-family: Arial, sans-serif;
        transition: .5s ease-in-out;
    }
   .story-detail ul li{
    width: 100%;
   } 
   
} 
  
@media screen and (max-width: 480px) {
    .e-church{
        width: 100%;
        height: 250px !important;
       
    }
    .connections ul {
        padding-left:0px;
    }
  
footer .container .row .col-lg-6 {
    margin: 10px;
    width: 100%;
}
.brand-name h4 {
    color: hsl(213, 91%, 36%);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.churchInfo label {
    margin-left: 5px;
}
.churchInfo .location {
    margin-left: 5px;
}
.giving2 {
    transition: .3s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
}
.question {
    margin: 10px;
}
.offering ul li {
    list-style: none;
    margin-right: 20px;
}

.offering ul li {
    list-style: none;
    margin-right: 10px;
}
.offering ul li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

}
@media screen and (max-width: 480px) {
    .e-church{
        width: 100%;
        height: 230px !important;
       
    }
    .oursupport {
        transition: all .5s ease-in;
        margin: 10px;
    }
    .oursupport h3 {
        text-transform: capitalize;
        font-size: 20px;
        color: #000;
        padding-top: 50px;
    }
    .oursupport ul li {
        list-style: none;
        margin: 5px;
        font-size: 18px;
        text-transform: capitalize;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .oursupport ul li a {
        color: hsl(213, 91%, 36%);
        font-size: 15px;
    }
}
@media screen and (max-width: 450px) {
    .connections ul li {
        list-style: none;
        width: 80px;
        height: 40px;
        /* border: 2px solid white; */
    }
    .connections ul li a {
        color: #fff;
        text-align: center;
        margin: 0px;
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) {
    .e-church{
        width: 100%;
        height: 200px !important;
       
    }
    
    footer .container .row .col-lg-6 {
        margin: 10px;
        width: 100%;
    }
    .brand-name h4 {
        color: hsl(213, 91%, 36%);
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
    }
    .churchInfo label {
        margin-left: 5px;
    }
    .churchInfo .location {
        margin-left: 5px;
    }
}
@media screen and (max-width: 360px) {
    
  
}
@media screen and (max-width: 350px) {
    .e-church{
        width: 100%;
        height: 180px !important;
       
    }
}
@media screen and (max-width: 318px) {
    .e-church{
        width: 100%;
        height: 150px !important;
       
    }
}

@media only screen and (max-width: 600px) {
    body {
      background-size: contain;
    }
  }
