
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.e-church{
    width: 100%;
    height: 100vh;
   
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.pastor{
    width: 100%;
    height: 100vh;
   
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    width: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
}
nav .logo{
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li:hover{
    color: #fff;

}
.content{
    text-align: center;

}
.content h1{
    font-size: 40px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: dashed;
    display: inline-block;
    color: green;
    font-size: 22px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    padding: 20px;
}
.backgroundVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;

}
.connections{
    /*margin-top: 500px;*/
    position: relative;
    top: 35%;
}
.connections ul{
    display: inline-flex;
    transition: all 2s ease-in-out;
}
.connections ul li{
    list-style: none;
    width: 150px;
    /*border: 2px solid white;*/
    margin: 10px;
    height: 50px;
    border: 2px solid hsl(213, 91%, 36%);
}
.connections ul li:hover{
    transition: all 1s ease-in;
    background: navy;
    background: hsl(213, 91%, 36%);
}
.connections ul li a{
    color: #fff;
    text-align: center;
    margin: 15px;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
}
.churchMessage{
    transition: all 3s ease-in;
    background-color: hsl(213, 91%, 36%);
    height: 100vh;
}
.churchMessage .information .container{ 
    width: auto;
   margin-left: 250px;
  
   word-break: break-all;
  
}
.churchMessage .information > .container{
   
   position: relative;
   top: 80px;
}
.information .container h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
.information .container .text{
    margin: 30px;
    width: 700px;
}
.information .container .text h2{
    margin-top: 30px;
    color: #fff;
    font-size: 22px;
}
.information .container .text p{
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
  
   word-wrap: break-word;
   
    
    font-family: 'Times New Roman', Times, serif
}
 .text .readmore{
    margin-top: 60px;
    width: 150px;
    border: 2x solid hsl(213, 91%, 36%);
    background-color: #fff;
   
    height: 50px;
    
}
.text .readmore:hover{
    background-color: brown;
    color: #000;
    transition: 1s ease-in-out;
}
.text .readmore a{
    text-decoration: none;
    font-size: 22px;
    
    text-transform: capitalize;
    color: hsl(213, 91%, 36%);
    text-align: center;
    position: relative;
    top: 10px;
    margin-left: 20px;
}
.churchInfo{
    transition: all 3s ease-in;
   
    height: 80vh;
    z-index: -1 !important;
}
.churchInfo label{
    margin-top: 50px;
    margin-left: 40px;
    color: hsl(213, 91%, 36%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}
.address h3{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 22px;
}
.direction{
    margin-left: 40px;
    margin-top: 50px;
    width: 140px;
    border-bottom: 2px solid #fff;
    /*border: 2px solid rebeccapurple;*/

}

.direction a{
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: hsl(213, 91%, 36%);
    
}
.direction:hover{
    background: black;
    color: #fff;
    transition: 3s ease-in-out;
}
.service{
    margin-top: 50px;
    margin-left: 40px;
}
.service h4{
    color: hsl(213, 91%, 36%);
    font-weight: 700;
}

/* slide*/
.slide{
    transition: all 3s ease-in;
    height: 75vh;
    background-color: hsl(213, 91%, 36%)
}

.slide .motivation{
    position: relative;
    top: 50px;
    margin-left: 50px;
}
.slide .motivation .item .col-md-6{
    width: 500px;
}
/*.motivation .item .col-md-6 h2{
 
    margin-top: 30px;
  
    font-size: 22px;
}*/

.motivation .col-md-6 h3{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
/*.learnFamily .container{
    position: relative;
   top: 80px;
}*/


.motivation .item .col-md-6 h2{
    margin-top: 30px;
    /*color: #fff;*/
    font-size: 22px;
    text-transform: uppercase;
}
.motivation .item .col-md-6 h6{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-style: italic;
}
 .motivation .item .col-md-6 p{
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif
}
button.owl-prev{
    position: absolute;
    top: 30%;
    width: 100px;
    left: -80px;
   
}
button.owl-next{
    position: absolute;
    top: 30%;
    width: 100px;
   right: -20px;
   
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    
    color: #fff;
    font-size: 50px !important;
    margin: 10px;
    font-weight: 800 !important;
}

/*slide end*/


.fa-solid{
    color: #fff;
    font-size: 28px;
    margin: 10px;
    
}
.left-arrow{
   
   
    width: 50px;
    margin: 20px;
    position: absolute;
    top: 40%;
    left: -60px;
}
.left-arrow:hover{
    background: red;
    transition: 1s ease-in;
}

.right-arrow{
   width: 50px;
   margin: 20px;
   position: absolute;
   top: 40%;
   right: -60px;
}
.right-arrow:hover{
    background: red;
    transition: 1s ease-in;
}
footer{
    width: 100%;
    height: 60vh;
    transition: all 3s ease-in-out;
    position: relative;
    padding: 0 5%;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
   
    
}
.image-body{
    margin-top: 50px;
}
footer .image-body img{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
   
    
}
.brand-name h4{
   color: hsl(213, 91%, 36%);
   font-size: 22px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 700;
}
.image-body .text{
    margin-top: 15px;
}
.image-body h5{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.social{
    margin-top: 40px;

}
.social a{
    margin: 10px;
    font-size: 24px;
    color: hsl(213, 91%, 36%);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.contact h3{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(213, 91%, 36%);
    font-weight: 700;
}
.contact{
    margin-top: 50px;
}

ul li{
    list-style: none;
}
ul li a{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-bottom: hsl(213, 91%, 36%);
}
.info-right{
    margin-top: 30px;
}
.info-right h5{
    color: hsl(213, 91%, 36%);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.info-right p{
    font-size: 16px;
    text-transform: capitalize;
}
.link{
    width: 120px;
    background-color: #fff;
    border: 2px solid whitesmoke;
    height: 40px;
}
.link:hover{
    background-color: #000;
    color: #fff;
    transition: all 1s ease-in-out;
}
.link a{
    text-decoration: none;
    color: hsl(213, 91%, 36%);
    font-size: 18px;
    text-align: center;
    margin: 5px;
    text-transform: capitalize;
}
iframe{
    margin-top: 10px;
    width: 550px;
    height: 400px;
   
}
/* toggle bar*/
.navbar-toggler{
    display: none;
  }
/*map css*/
.mapouter{
    position:relative;
    text-align:right;
    height:500px;width:600px;
    }
   
 /*end map*/   

/*pastors page */

.pastor{
    background-image: url('/static/images/pastoral/pastor.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center;
    margin-top: 50px;
}

.heading h3{
    margin-top: 10px !important;
    color: #fff;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;
}

.container.pastorsDetails{
  
    margin-top: 100px;
}

.pastorsDetails .product-card {
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        border-radius: 20px;
        transition: .5s all ease-in-out;
      }
      
     .pastorsDetails .product-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
      
      .pastorsDetails .product-card h3 {
        margin-top: 20px;
        font-size: 24px;
        text-align: center;
        text-transform: capitalize;
      }
      
      .pastorsDetails .product-card p {
        font-size: 18px;
        text-align: center;
        margin: 0px;
        line-height: .2px;
        text-transform: capitalize;
      }
      
     .pastorsDetails  .card{
      
        translate: 70px 0px;
        width: 500px;
        z-index: -1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        border-radius: 20px;
        transition: .5s all ease-in-out;
      }
      .pastorsDetails .card p{
        line-height: 25px;
      }
      
 .pastorsDetails .col .col-md-6{
    margin-bottom: 100px;
    transition: .5s all ease-in-out;
 }    

 .pastorsDetails .pastors{
    text-transform: uppercase;
    text-shadow: #fff;
    color:#000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700;
 }
.pastorsDetails .center {
    text-align: center;
}
.pastorsDetails .pagination {
    display: inline-block;
}

.pastorsDetails .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
}
.pastorsDetails .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pastorsDetails .pagination a.active {
    background-color: #3e4b5b;
    color: white;
    border: 1px solid #3e4b5b;
}

.pastorsDetails .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

 div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, span {
    text-shadow: none;
}
a, div, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, span {
    text-shadow: none;
}

 @media screen and (max-width: 990px) {
    .pastorsDetails .col{
        width: 100% !important;
    }
    .pastorsDetails{
        margin: 0;
        padding: 0;
    }
    .pastorsDetails .product-card {
        width: 500px;
        padding: 10px;
        
      }
    .pastorsDetails .card{
        width: 450px;
        flex-wrap: wrap;
    }  
 }
 @media screen and (max-width: 940px) {
    .pastorsDetails .product-card {
        width: 430px;
        padding: 10px;
        
      }
    .pastorsDetails .card{
        width: 430px;
        translate: 50px 0px;
    } 

 }
 @media screen and (max-width: 870px) {
    .pastorsDetails .product-card {
        width: 400px;
        height: 300px;
        padding: 5px;
        
      }
    .pastorsDetails .card{
        width: 400px;
        translate: 30px 0px;
    } 
 }


 @media screen and (max-width: 821px) {
    .container.pastorsDetails{
        margin: 10px;
        padding: 10px;
    }
    .pastorsDetails .col-md-6{
        width: 100%;
       
    }
    .pastorsDetails .product-card {
        width: 100%;
        height: 400px;
        padding: 2px;
        padding: 10px;
        
      }
    .pastorsDetails .card{
        width: 100% !important;
        translate: 10px 0px;
        padding: 10px;
    } 
 }



@media screen and (max-width: 990px) {
    .e-church{
        width: 100%;
        height: 500px;
    }
    .churchMessage {
        height: 500px;
    }
    .churchMessage .information .container {
        width: auto;
        margin-left: 50px;
        word-break: break-all;
    }
    .churchInfo {
        transition: all 3s ease-in;
        height: 500px;
        z-index: -1 !important;
    }
    .churchInfo label {
     
        margin-left: 5px;
        font-size: 17px;
       
    }
    .address h3 {
      
        font-size: 18px;
    }
    .container, .container-sm {
        max-width: 540px;
        margin-left: 20px;
    }
    
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 100%;
    }
    iframe{
        margin-top: 10px;
        width: 550px;
        height: 400px;
       
    }
    .slide {
      
        height: 500px;
       
    }

    .slide .motivation {
      
        margin-left: 10px;
    }
    .slide .motivation .item .col-md-6 {
        width: 400px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 5px;
        margin-bottom: 10px;

    }
    .container, .container-sm {
        /* max-width: 600px; */
        margin-left: 5px;
    }
     footer{
        padding: 0;
        height: 400px;
     }
    footer .container {
   
    margin-left: 5px;
   max-width: 100%;
   }
   footer .container .row .col-lg-6{
    margin:10px;
    
   }
   .row>* {
    flex-shrink: 0;
    width: 45%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}
}

@media screen and (max-width: 870px) {
    .e-church{
        width: 100%;
        height: 400px;
       
    }
    .churchMessage {
        height:400px;
    }
    .churchMessage .information .container {
        width: auto;
        margin-left: 20px;
        word-break: break-all;
    }
    .churchInfo {
        transition: all 3s ease-in;
        height: 400px;
        z-index: -1 !important;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 400px;
        width: 100%;
    }
    iframe{
        margin-top: 10px;
        width: 400px;
        height: 350px;
       
    }
    .slide {
      
        height: 400px;
       
    }

    .slide .motivation {
      
        margin-left: 10px;
    }
    .slide .motivation .item .col-md-6 {
        width: 350px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 5px;
        margin-bottom: 10px;

    }
    .container, .container-sm {
        /* max-width: 600px; */
        margin-left: 5px;
    }
    .information .container .text p {
        margin-top: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        word-wrap: break-word;
        font-family: 'Times New Roman', Times, serif;
    }
    .text .readmore {
        margin-top: 5px;
        width: 150px;
        border: 2x solid hsl(213, 91%, 36%);
        background-color: #fff;
        height: 50px;
        margin-bottom: 30px;
    }
    .slide .motivation {
        position: relative;
        top: 0px;
        margin-left: 50px;
    }
    
}
@media screen and (max-width: 770px) {
    .e-church{
        width: 100%;
        height: 300px;
       
    }
    .churchMessage {
        height:400px;
    }
    .address h3 {
      
        font-size: 18px;
        text-align: center;
    }
    .information .container .text {
        margin: 10;
        width: 100%;
        flex-wrap: wrap;
    }
    .churchMessage .information > .container {
        position: relative;
        top: 10px;
    }
    .churchInfo {
        transition: all 3s ease-in;
        height: auto;
        z-index: -1 !important;
    }
   
    .churchInfo .container{
  
    margin: 20px;
}
.churchInfo .container .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
   
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
  
    margin-left: calc(-.5 * var(--bs-gutter-x));
    display: block;
    width: 100%;
}
.churchInfo .container .row .col-sm-6{
   
        flex-shrink: 0;
        width: 100%;
     
        margin-top: var(--bs-gutter-y);
    
}
.churchInfo label {
    margin-left: 150px;
    text-align: center;
}
.churchInfo .location{
    margin-left: 100px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    margin-left: 50px;
}
.slide {
    height: auto;
}
.slide .motivation {
    margin-left: 10px;
}
.slide .motivation .item{ 
    margin: 5px;
}nav ul{
    display: none;
}
.navbar-toggler{
    display: block;
    position: absolute;
    right: 0;
    
  }
  .motivation .item .col-md-6 p {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    word-break: break-word;
    flex-wrap: wrap;
    padding: 10px;
}

}
@media screen and (max-width: 700px) {
    .slide .motivation {
        margin-left: 50px;
    }
    .slide .motivation .item .col-md-6 {
        width: 100%;
    }
    .motivation .item .col-md-6 h2 {
        margin-top: 30px;
        /* color: #fff; */
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }
    .connections ul {
        padding-left: 5px;
    }
    .connections ul li {
        list-style: none;
        width: 150px;
        /* border: 2px solid white; */
       
    }

    .connections ul li a {
    color: #fff;
    text-align: center;
    margin: 5px;
    font-size: 16px;
   
}
}
@media screen and (max-width: 660px) {
    .connections ul {
        padding-left: 5px;
    }
    .connections ul li {
        list-style: none;
        width: 100px;
        /* border: 2px solid white; */
       
    }

    .connections ul li a {
    color: #fff;
    text-align: center;
    margin: 2px;
    font-size: 15px;
   
}

}

@media screen and (max-width: 600px) {
    .information .container h3 {
        text-transform: uppercase;
        font-size: 10px;
        color: #fff;
    }
    .information .container .text {
        margin: 5px;
        width: 100%;
        flex-wrap: wrap;
    }
    .information .container .text h2 {
        margin-top: 20px;
        color: #fff;
        font-size: 18px;
    }
    .information .container .text p {
        margin-top: 5px;
        color: #fff;
        font-size: 14px;
       flex-wrap: wrap;
        word-wrap: break-word;
        font-family: 'Times New Roman', Times, serif;
    }
    .text .readmore {
        margin-top: 5px;
        width: 100px;
        border: 2x solid hsl(213, 91%, 36%);
        background-color: #fff;
        height: 30px;
        margin-bottom: 30px;
    }
    .text .readmore a {
        text-decoration: none;
        font-size: 14px;
        text-transform: capitalize;
        color: hsl(213, 91%, 36%);
        text-align: center;
        position: relative;
        top: -1px;
        margin-left: 10px;
    
      
    }
    .churchMessage {
        height: auto;
    }
    .e-church{
        width: 100%;
        height: 200px;
       
    }
    .connections ul {
        padding-left: 2px;
    }
    .connections ul li {
        list-style: none;
        width: 99px;
        height: 40px;
        /* border: 2px solid white; */
    }

    .connections ul li a {
    color: #fff;
    text-align: center;
    margin: 0px;
    font-size: 13px;
   
}
}
@media screen and (max-width: 480px) {
    .connections ul {
        padding-left:0px;
    }
    .connections ul li {
        list-style: none;
        width: 90px;
        height: 40px;

        /* border: 2px solid white; */
    }

    .connections ul li a {
    color: #fff;
    text-align: center;
    margin: 6px;
    font-size: 12px;
  
   
   
}
}

@media screen and (max-width: 400px) {
    .e-church{
        width: 100%;
        height: 150px;
       
    }
}
@media screen and (max-width: 300px) {
    .e-church{
        width: 100%;
        height: 100px;
       
    }
}