{% load static %}
<div class="offering">
    <div class="given">
        <div class="donation">
            <ul>
                <li><a href="{% url 'programm:home' %}">home</a></li>
                <li><a href="">sermons</a></li>
                <li><a href="{% url 'programm:transact' %}">giving</a></li>
                <li><a href="{% url 'programm:church_event' %}">image gallery</a></li>
                <li><a href="https://www.youtube.com">events</a></li>
                <li> <i class="nav-icon fas fa-bars"></i></li>
               
            </ul>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}