  <nav>
         
        
            <img src="/static/images/brand/brand_global_ministry.jpeg" class="logo" alt="">
             <ul>
                <!--<li><a href="/" >home</a></li>-->
                <li><a href="https://www.youtube.com">sermon</a></li>
                <li><a href="{% url 'programm:giving' %}">giving</a></li>
                <li><a href="{% url 'programm:church_event' %}">image gallery</a></li>
                <li><a href="{% url 'programm:church_event' %}">events</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">about us</a></li>
                
             </ul>
      <button style="color: #000; font-size: 40px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
  </button>
              
  
        </nav>

<style>
  
</style>        